<div class="section forgot_password_edit" style="height:83vh;overflow:hidden;padding-bottom:120px;">
  <div class="container" style="max-width:480px;">
    <h2 class="text-center qt-link-danger"><a href="/" <a href="/" class="qt-eng">QTNote</a></h2>
    <h3 class="title text-center"><%=t 'text.change_password' %></h3>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
  
    <div class="form-group">
      <label for="user_password">패스워드</label><br />
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
    
    <div class="form-group">
      <label for="user_password_confirmation">패스워드 확인</label><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
  
    <div class="actions" style="margin-top:20px;">
      <%= f.submit "비밀번호 변경", :class => 'btn btn-danger btn-fill btn-block' %>
    </div>
    <% end %>
    <div class="qt-link-danger text-center" style="margin-top:10px; font-size:14px;">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "회원가입", new_registration_path(resource_name) %>
      <% end -%>
      <%- if controller_name != 'sessions' %>
        <%= link_to "로그인", new_session_path(resource_name) %>
      <% end -%>
    </div>
  </div>
</div>