<div class="main-header">
    <div class="motto">
        <h1 class="title-uppercase qt-eng">QT NOTE</h1>
        <h3><%=t "text.slogan" %></h3>
        <br>
        <button id="doIt" class="btn btn-danger"><%=t "text.start" %></a>
    </div>
</div>

<div class="main section">
    <div class="container">
        <div class="nav-tabs-navigation" style="border-bottom: 1px solid #D8C1AB;" role="tablist">
            <ul id="tabs" class="nav nav-tabs qt-nav-tabs" data-tabs="tabs">
                <li class="<%= 'active' if !request.query_parameters[:type] %>" role="presentation"><a href="#word" id="tab_1" aria-controls="word" data-toggle="tab" aria-expanded="true"><%=t "text.today_word" %></a></li>
                <li class="<%= 'active' if request.query_parameters[:type] == "shareQT" %>" role="presentation"><a href="#shareQT" id="tab_2" aria-controls="shareQT" data-toggle="tab" aria-expanded="false"><%=t "text.qt_share" %></a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane <%= 'active' if !request.query_parameters[:type] %>" id="word">
                <h3><%=t "text.today_word" %>&nbsp;<i class="fa fa-check-square fa-2" aria-hidden="true" <% if @today_post %>style="color:#7ac29a;"<% end %>></i></h3>
                <div>
                    <div class="row" style="padding:5px 0 5px 0;">
                        <div class="col-md-12">
                            <p class="no-margin">
                                <span class="label label-danger"><%=t 'text.title' %></span>
                                <span class="qt-font-sm" style="margin-left:5px;font-weight:600;"><%= @title %></span>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="padding:5px 0 5px 0;">
                        <div class="col-md-12">
                            <p class="no-margin">
                                <span class="label label-danger"><%=t 'text.content' %></span>
                                <span class="qt-font-sm" style="margin-left:5px;font-weight:600;"><%= @book_line %></span>
                            </p>
                        </div>
                    </div>
                </div>
                <table class="table" style="font-size:13px;">
                    <tbody>
                        <% @words.each do |t| %>
                            <tr>
                                <th><%= t.first %></th>
                                <td><%= t.second %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <hr style="border-color:#E9E3D8">
                <%= form_tag({controller: "home", action: @today_post ? 'modify' : 'write'}, {id: "qt_form", method: "post"}) do |f| %>
                    <input type="hidden" name="id" value="<%= @today_post? @today_post.id : "" %>">
                    <input type="hidden" name="day" value="<%= Time.current.day %>">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 style="font-weight: bold;"><%=t "text.understanding" %>&nbsp;
                            <button class="btn btn-xs btn-success btn-fill" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                              <%=t "text.more" %>
                            </button>
                            </h5>
                            <div class="collapse" id="collapse1">
                                <div class="panel panel-success">
                                    <div class="panel-body">
                                    <% @info1.each do |t| %>
                                        <p class="qt-p"><%= t %></p>
                                    <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 style="font-weight: bold;"><%=t "text.whois" %>&nbsp;
                                <button class="btn btn-xs btn-success btn-fill" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                  <%=t "text.more" %>
                                </button>
                            </h5>
                            <textarea id="whois" name="whois" class="form-control" rows="5" placeholder="<%=t 'text.at_least_character', count: 5 %>"><%= if @today_post then @today_post.whois elsif @temp_post then @temp_post[:whois] end %></textarea>
                            <div class="collapse" id="collapse2">
                                <div class="panel panel-success" style="margin-top:10px;">
                                    <div class="panel-body">
                                        <p class="qt-p"><%= @info2 %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 style="<% if I18n.locale == :en then %>font-size:1.1em;margin-top:11px;margin-bottom:17px;<% end %>font-weight:bold;"><%=t "text.lesson" %>&nbsp;
                                <button class="btn btn-xs btn-success btn-fill" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                  <%=t "text.more" %>
                                </button>
                            </h5>
                            <textarea id="lesson" name="lesson" class="form-control" rows="5" placeholder="<%=t 'text.at_least_character', count: 10 %>"><%= if @today_post then @today_post.lesson elsif @temp_post then @temp_post[:lesson] end %></textarea>
                            <div class="collapse" id="collapse3">
                                <div class="panel panel-success" style="margin-top:10px;">
                                    <div class="panel-body">
                                        <p class="qt-p"><%= @info3 %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-offset-4 col-md-4">
                            <h5 style="font-weight: bold;"><%=t "text.apply" %>&nbsp;
                                <button class="btn btn-xs btn-info btn-fill" style="padding:0;" type="button" data-toggle="popover" title="<%=t "text.apply" %>" data-content="<%=t "text.apply_description" %>">
                                    <i class="fa fa-1 fa-question" style="margin:0 1.3px 0 0;" aria-hidden="true"></i>
                                </button>
                            </h5>
                            <textarea id="apply" name="apply" class="form-control" rows="5" placeholder="<%=t 'text.at_least_character', count: 5 %>"><%= if @today_post && @today_post.apply then @today_post.apply elsif @temp_post then @temp_post[:apply] end %></textarea>
                        </div>
                        <div class="col-md-4">
                            <h5 style="font-weight: bold;"><%=t "text.prayer" %></h5>
                            <textarea id="pray" name="pray" class="form-control" rows="5"><%= if @today_post && @today_post.pray then @today_post.pray elsif @temp_post then @temp_post[:pray] end %></textarea>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2 col-xs-2 text-left">
        
                        </div>
                        <div class="col-md-8 col-xs-8 col-xs-offset-2 col-md-offset-2 text-right">
                            <div style="display:inline-block; vertical-align:middle; padding-right: 25px;" data-toggle="tooltip" title="<% if @today_post && @today_post.is_public then %><%=t 'text.need_talent_to_update' %><% else %><%=t 'text.public_description' %><% end %>" data-html="true">
                                <i id="lock" class="fa fa-lock fa-2x" style="margin-right: 10px;" aria-hidden="true"></i>
                                <input type="checkbox" name="is_public" id="is_public" <%= (@today_post && @today_post.is_public) || (@temp_post && @temp_post[:is_public]) ? "checked" : "" %> />
                                <i id="unlock" class="fa fa-unlock fa-2x" style="margin-left: 5px;" aria-hidden="true"></i>
                            </div>
                            <div style="display:inline-block;">
                            <% unless user_signed_in? %>
                                <button type="button" id="save_qt" class="btn btn-success" data-toggle="modal" data-target="#loginModal"><%=t 'text.save' %></button>
                            <% else %>
                                <% if @today_post %>
                                    <button type="submit" class="btn btn-info submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <%=t 'text.sending' %>.."><%=t 'text.modify' %></button>
                                <% else %>
                                    <button type="submit" class="btn btn-success submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <%=t 'text.sending' %>.."><%=t 'text.save' %></button>
                                <% end %>
                            <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div role="tabpanel" class="tab-pane <%= 'active' if request.query_parameters[:type] == 'shareQT' %>" id="shareQT">
                <h3><%=t "text.shared_qt_of_today" %></h3>
                <% if @today_posts.exists? %>
                    <p class="qt-font-sm" style="margin-bottom:20px;"><%=t("text.sharing_x_qt_total", count: @today_posts.count) %></p>
                    <div class="msgbox">
                    <% @today_posts.each do |p| %>
                        <% if user_signed_in? && p.user_id == current_user.id %>
                            <div class="row" style="padding-bottom:20px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom: 10px; margin-bottom: 15px;">
                                            <div class="talk-user-me">
                                                <%= link_to user_url(current_user.id) do %>
                                                <span class="qt-eng"><%= current_user.nickname ? current_user.nickname : current_user.email.split("@").first %></span>
                                                <% end %>
                                                <span class="qt-level-sm qt-num"><%= current_user.level %></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row text-right">
                                                <div style="display:inline-block; float:none; margin-right:100px;">
                                                    <div class="col-table text-center" style="vertical-align:bottom; padding-left: 15px; padding-right: 10px;">
                                                        <span class="qt-talk-time"><%= time_ago_in_words(p.created_at) %></span>
                                                    </div>
                                                    <article class="talk me text-left">
                                                        <p class="no-margin qt-font-sm">
                                                          <% if (content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + p.whois + tag("br") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + p.lesson).length > 500 %>
                                                            <%= truncate(content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + p.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br", class: "line-height-25") + p.lesson, length: 500, escape: false) %>
                                                            <br />
                                                            <%= link_to t('text.read_more'), '', class: "read-more-#{p.id}" %>
                                                            <script>
                                                              $('.read-more-<%= p.id %>').on('click', function(e) {
                                                                e.preventDefault();
                                                                $(this).parent().html('<%= raw escape_javascript (content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + p.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + p.lesson) %>')
                                                              })
                                                            </script>
                                                          <% else %>
                                                            <%= raw content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + p.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + p.lesson %>
                                                          <% end %>
                                                        </p>
                                                        <div class="qt-actions">
                                                            <ul>
                                                                <li>
                                                                    <%= link_to p.likes.include?(current_user.id) ? ('<i class="fa fa-heart active" aria-hidden="true"></i>').html_safe : ('<i class="fa fa-heart-o" aria-hidden="true"></i>').html_safe, p.likes.include?(current_user.id) ? dislike_post_url(id: p.id) : like_post_url(id: p.id), {class: 'vote', method: :post, remote: true, data: {id: p.id}} %>
                                                                    <span class="likes-count" data-id="<%= p.id %>"><%= p.likes.length %></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div style="position: absolute; right: 0; top: 0;">
                                                    <img src="http://image.flaticon.com/icons/svg/149/149071.svg" width="64" height="64">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% else %>
                            <div class="row" style="padding-bottom:20px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom: 10px; margin-bottom: 15px;">
                                            <div class="talk-user-other">
                                                <%= link_to user_url(p.user_id) do %>
                                                <span class="qt-eng"><%= User.find_by(id: p.user_id).nickname ? User.find_by(id: p.user_id).nickname : User.find_by(id: p.user_id).email.split("@").first %></span>
                                                <% end %>
                                                <span class="qt-level-sm qt-num"><%= User.find_by(id: p.user_id).level %></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row" style="display:table;">
                                                <div class="col-md-1 col-table" style="padding-right: 25px;">
                                                    <img src="http://image.flaticon.com/icons/svg/149/149071.svg" width="64" height="64">
                                                </div>
                                                <div class="col-md-11 col-table" style="padding-right: 10px;">
                                                    <article class="talk other">
                                                        <p class="no-margin qt-font-sm">
                                                          <% if (content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + p.whois + tag("br") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + p.lesson).length > 500 %>
                                                            <%= truncate(content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + p.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br", class: "line-height-25") + p.lesson, length: 500, escape: false) %>
                                                            <br />
                                                            <%= link_to t('text.read_more'), '', class: "read-more-#{p.id}" %>
                                                            <script>
                                                              $('.read-more-<%= p.id %>').on('click', function(e) {
                                                                e.preventDefault()
                                                                $(this).parent().html('<%= raw escape_javascript (content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + p.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + p.lesson) %>')
                                                              })
                                                            </script>
                                                          <% else %>
                                                            <%= raw content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + p.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + p.lesson %>
                                                          <% end %>
                                                        </p>
                                                        <div class="qt-actions">
                                                            <ul>
                                                                <li>
                                                                    <% if user_signed_in? %>
                                                                        <%= link_to p.likes.include?(current_user.id) ? ('<i class="fa fa-heart active" aria-hidden="true"></i>').html_safe : ('<i class="fa fa-heart-o" aria-hidden="true"></i>').html_safe, p.likes.include?(current_user.id) ? dislike_post_url(id: p.id) : like_post_url(id: p.id), {class: 'vote', method: :post, remote: true, data: {id: p.id}} %>
                                                                    <% else %>
                                                                        <a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                                                    <% end %>
                                                                    <span class="likes-count" data-id="<%= p.id %>"><%= p.likes.length %></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </article>
                                                    <div class="col-table" style="vertical-align:bottom; padding-left: 10px; padding-right: 10px;">
                                                        <span class="qt-talk-time"><%= time_ago_in_words(p.created_at) %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                    </div>
                <% else %>
                    <p><%=t "text.no_shared_qt_today" %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="section section-nude text-center">
    <div class="container">
        <h3 class="text-center"><%=t "text.share" %></h3>
        <p style="font-size:15px;"><%=t "text.share_sub" %></p>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-3 col-xs-3">
                <a id="kakao-link-btn" href="javascript:;">
                    <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" class="kakao-talk" />
                </a>
                <p class="qt-sns-title"><%=t "text.kakaotalk" %></p>
            </div>
            <div class="col-md-3 col-xs-3">
                <a id="kakaostory-share-button" href="javascript:shareKakaoStory('http://qtnote.co.kr', '<%=t 'text.slogan' %>');">
                    <img src="https://developers.kakao.com/assets/img/about/buttons/kakaostory/icon/flat/kakaostory_icon_flat_96x96.png" class="kakao-story" />
                </a>
                <p class="qt-sns-title"><%=t "text.kakaostory" %></p>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="social">
                    <a href="javascript:shareFacebook('http://qtnote.co.kr')">
                        <i class="fa fa-facebook" style="background-color:#3b5998;" aria-hidden="true"></i>
                    </a>
                </div>
                <p class="qt-sns-title"><%=t "text.facebook" %></p>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="social">
                    <a href="javascript:shareTwitter('http://qtnote.co.kr', '<%=t 'text.slogan' %>');">
                        <i class="fa fa-twitter" style="background-color:#00aced;" aria-hidden="true"></i>
                    </a>
                </div>
                <p class="qt-sns-title"><%=t "text.twitter" %></p>
            </div>
            
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        <% if @today_post && @temp_post %>
        // 수정중이던 글이 있으면 페이지 로드 후 스크롤을 이동한다.
        $('html, body').animate({
            scrollTop: $("#qt_form").offset().top
        }, 800);
        <% end %>
        
        <% if !@today_post %>
        // 새로 작성중인 글이 있으면 5초 단위로 임시 저장한다.
        $("#qt_form").sisyphus({
	        timeout: 5,
	        onRestore: function() {
	            if($('#whois').val().length > 0 || $('#lesson').val().length > 0) {
                    $('html, body').animate({
                        scrollTop: $("#qt_form").offset().top
                    }, 800);
                    
                    $.notify({
                        message: "<%=t 'text.post_is_restored' %>"
                    },{
                        offset: { x:20, y:98 },
                        type: "info"
                    });
	            }

	        },
        });
        <% end %>
        $("#doIt").click(function() {
            $('html, body').animate({
                scrollTop: $(".main").offset().top
            }, 800);
        });
        
        $('.submit').on('click', function() {
            var $this = $(this);
              $this.button('loading');
                setTimeout(function() {
                   $this.button('reset');
               }, 8000);
        });
        
        //<![CDATA[
        Kakao.init('c4d2ae3d66986351a92450b6b8bb7f8b');
        Kakao.Link.createTalkLinkButton({
          container: '#kakao-link-btn',
          label: '<%=t 'text.qtnote' %>',
          image: {
            src: 'https://i.imgur.com/RcmlX9F.png',
            width: '300',
            height: '160'
          },
          webButton: {
            text: '큐티노트 홈페이지로',
            url: 'http://qtnote.co.kr' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
          }
        });
        //]]>
        
        if ($('#is_public').is(':checked')) {
            $('#unlock').css("color", "#7AC29A");
        } else {
            $('#lock').css("color", "#7AC29A");
        }
        
        $('#is_public').change(function(e) {
            if (e.target.checked){
                $('#lock').css("color", "#66615b");
                $('#unlock').css("color", "#7AC29A");
            } else {
                $('#lock').css("color", "#7AC29A");
                $('#unlock').css("color", "#66615b");
            }
        });
        
        $('#tab_1').click(function(){
            if (history.pushState) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
                window.history.pushState({path:newurl},'',newurl);
            }
        });
        
        $('#tab_2').click(function(){
            if (history.pushState) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?type=shareQT';
                window.history.pushState({path:newurl},'',newurl);
            }
        });
    });
    
    $(document).ajaxSuccess(function(status,data,xhr){
        url = xhr.url;
        url = url.split('/');
        actionType = url[url.length-1];
        type = url[url.length-3];
        if(type == 'posts'){
            post_id = data.responseJSON.id;
            count = data.responseJSON.count;
            url[url.length-1] = (actionType == 'like') ? 'dislike' : 'like';
            $(".vote[data-id=" + post_id + "]").attr("href", url.join('/'));
            $(".likes-count[data-id=" + post_id + "]").text(count);
            if(actionType == 'like'){
                $(".vote[data-id=" + post_id + "]").children().first().removeClass("fa-heart-o").addClass("fa-heart active");
            }else if(actionType == 'dislike'){
                $(".vote[data-id=" + post_id + "]").children().first().removeClass("fa-heart active").addClass("fa-heart-o");
            }
        }
    });
    
    function shareFacebook(url){
    	window.open("http://www.facebook.com/sharer/sharer.php?u=" + url, "_blank", "width=600, height=400;");
    };
    
    function shareTwitter(url, text){
        window.open("https://twitter.com/intent/tweet?text=" + text + "&url=" + url, "_blank", "width=600, height=447;");
    };
    
    function shareKakaoStory(url, text){
        Kakao.Story.share({
            url: url,
            text: text
        });
        
    };
</script>