<div class="main-header">
    <div class="motto">
        <h1 class="title-uppercase qt-eng">QT NOTE</h1>
        <h3>매일매일 큐티 내용을 기록하세요.</h3>
        <br>
        <button id="doIt" class="btn btn-danger">시작하기</a>
    </div>
</div>

<div class="main section" style="padding:40px 0 40px 0;">
    <div class="container">
        <h3>오늘의 말씀 <i class="fa fa-check-square fa-2" aria-hidden="true" <% if @today_post %>style="color:#7ac29a;"<% end %>></i></h3>
        <div>
            <div class="row" style="padding:5px 0 5px 0;">
                <div class="col-md-12">
                    <span class="label label-danger">제목</span>
                    <span style="margin-left:5px;font-weight:600;"><%= @title %></span>
                </div>
            </div>
            <div class="row" style="padding:5px 0 5px 0;">
                <div class="col-md-12">
                    <span class="label label-danger">본문</span>
                    <span style="margin-left:5px;font-weight:600;"><%= @book_line %></span>
                </div>
            </div>
        </div>
        <table class="table" style="font-size:13px;border-top:2px solid #ccbb9f;">
            <tbody>
                <% @words.each do |t| %>
                    <tr>
                        <th><%= t.first %></th>
                        <td><%= t.second %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <form action="<%= @today_post ? '/modify' : '/write' %>" method="post" id="qt_form">
            <input type="hidden" name="id" value="<%= @today_post? @today_post.id : "" %>">
            <div class="row">
                <div class="col-md-4">
                    <h5>이해하기&nbsp;
                    <button class="btn btn-xs btn-success btn-fill" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                      보기
                    </button>
                    </h5>
                    <div class="collapse" id="collapse1">
                        <div class="panel panel-success">
                            <div class="panel-body">
                            <% @info1.each do |t| %>
                                <p class="qt-p"><%= t %></p>
                            <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>하나님은 어떤 분입니까?&nbsp;
                        <button class="btn btn-xs btn-success btn-fill" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                          보기
                        </button>
                    </h5>
                    <textarea id="whois" name="whois" class="form-control" rows="5" placeholder="5자 이상 입력해 주세요."><%= if @today_post 
                                @today_post.whois 
                            elsif @temp_post
                                @temp_post[:whois]
                            end %></textarea>
                    <div class="collapse" id="collapse2">
                        <div class="panel panel-success" style="margin-top:10px;">
                            <div class="panel-body">
                                <p class="qt-p"><%= @info2 %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>내게 주시는 교훈은 무엇입니까?&nbsp;
                        <button class="btn btn-xs btn-success btn-fill" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                          보기
                        </button>
                    </h5>
                    <textarea id="lesson" name="lesson" class="form-control" rows="5" placeholder="10자 이상 입력해 주세요."><%= if @today_post
                            @today_post.lesson 
                        elsif @temp_post
                            @temp_post[:lesson]
                        end %></textarea>
                    <div class="collapse" id="collapse3">
                        <div class="panel panel-success" style="margin-top:10px;">
                            <div class="panel-body">
                                <p class="qt-p"><%= @info3 %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-offset-4 col-md-4">
                    <h5>적용하기&nbsp;
                        <button class="btn btn-xs btn-info btn-fill" style="padding:0;" type="button" data-toggle="popover" title="적용하기" data-content="오늘 말씀을 보고 내가 구체적으로 할 수 있는 일을 기록하세요.
">
                            <i class="fa fa-1 fa-question" style="margin:0 1.3px 0 0;" aria-hidden="true"></i>
                        </button>
                    </h5>
                    <textarea id="apply" name="apply" class="form-control" rows="5" placeholder="5자 이상 입력해 주세요."><%= if @today_post && @today_post.apply
                            @today_post.apply 
                        elsif @temp_post
                            @temp_post[:apply]
                        end %></textarea>
                </div>
                <div class="col-md-4">
                    <h5>기도하기</h5>
                    <textarea id="pray" name="pray" class="form-control" rows="5"><%= if @today_post && @today_post.pray
                            @today_post.pray 
                        elsif @temp_post
                            @temp_post[:pray]
                        end %></textarea>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-3 col-xs-3 text-left">

                </div>
                <div class="col-md-2 col-xs-3 col-xs-offset-6 col-md-offset-7 text-right">
                <% unless @is_logged_in %>
                    <button type="button" id="save_qt" class="btn btn-success" data-toggle="modal" data-target="#loginModal">저장</button>
                <% else %>
                    <% if @today_post %>
                        <button type="submit" class="btn btn-info submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> 전송중..">수정</button>
                    <% else %>
                        <button type="submit" class="btn btn-success submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> 전송중..">저장</button>
                    <% end %>
                <% end %>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="section section-nude text-center">
    <div class="container">
        <h3 class="text-center">공유하기</h3>
        <p>친구, 가족 또는 지인에게 큐티노트를 알려보세요.</p>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-3 col-xs-3">
                <a id="kakao-link-btn" href="javascript:;">
                    <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" class="kakao-talk" />
                </a>
                <p class="qt-sns-title">카카오톡</p>
            </div>
            <div class="col-md-3 col-xs-3">
                <a id="kakaostory-share-button" href="javascript:shareKakaoStory('http://qtnote.co.kr', '큐티노트에서 매일매일 큐티를 기록하세요.');">
                    <img src="https://developers.kakao.com/assets/img/about/buttons/kakaostory/icon/flat/kakaostory_icon_flat_96x96.png" class="kakao-story" />
                </a>
                <p class="qt-sns-title">카카오스토리</p>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="social">
                    <a href="javascript:shareFacebook('http://qtnote.co.kr')">
                        <i class="fa fa-facebook" style="background-color:#3b5998;" aria-hidden="true"></i>
                    </a>
                </div>
                <p class="qt-sns-title">페이스북</p>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="social">
                    <a href="javascript:shareTwitter('http://qtnote.co.kr', '큐티노트에서 매일매일 큐티를 기록하세요.');">
                        <i class="fa fa-twitter" style="background-color:#00aced;" aria-hidden="true"></i>
                    </a>
                </div>
                <p class="qt-sns-title">트위터</p>
            </div>
            
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // sudo service postgresql restart
        // 작성중이던 글이 있으면 페이지 로드 후 스크롤을 이동한다.
        <% if @temp_post %>
            <% if @temp_post[:whois].length > 3 || @temp_post[:lesson].length > 3 %>
        $('html, body').animate({
            scrollTop: $("#qt_form").offset().top
        }, 800);
            <% end %>
        <% end %>
        $("#doIt").click(function() {
            $('html, body').animate({
                scrollTop: $(".main").offset().top
            }, 800);
        });
        
        $('.submit').on('click', function() {
            var $this = $(this);
              $this.button('loading');
                setTimeout(function() {
                   $this.button('reset');
               }, 8000);
        });
        
        // 자동 저장
        // $("#qt_form").sisyphus({ timeout: 10, autoRelease: true });
        
        //<![CDATA[
        Kakao.init('c4d2ae3d66986351a92450b6b8bb7f8b');
        Kakao.Link.createTalkLinkButton({
          container: '#kakao-link-btn',
          label: '큐티노트',
          image: {
            src: 'https://i.imgur.com/RcmlX9F.png',
            width: '300',
            height: '160'
          },
          webButton: {
            text: '큐티노트 홈페이지로',
            url: 'http://qtnote.co.kr' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
          }
        });
        //]]>
    });
    
    function shareFacebook(url){
    	window.open("http://www.facebook.com/sharer/sharer.php?u=" + url, "_blank", "width=600, height=400;");
    };
    
    function shareTwitter(url, text){
        window.open("https://twitter.com/intent/tweet?text=" + text + "&url=" + url, "_blank", "width=600, height=447;");
    };
    
    function shareKakaoStory(url, text){
        Kakao.Story.share({
            url: url,
            text: text
        });
    };
</script>