<div class="main-header">
    <div class="motto">
        <h1 class="title-uppercase qt-eng">QT NOTE</h1>
        <h3><%=t "text.slogan" %></h3>
        <br>
        <button id="doIt" class="btn btn-danger"><%=t "text.start" %></button>
    </div>
</div>

<div class="section section-dark text-center" style="padding:40px 0;">
    <div class="container">
        <div class="row">
            <div class="service-container col-xs-6 col-sm-3">
                <div class="service-icon" style="padding:0 5px 0 0px;">
                    <i class="fa fa-pencil fa-3x"></i>
                </div>
                <div class="service-body">
                    <h4><%=t 'text.service.one.title' %></h4>
                    <p><%=t 'text.service.one.body' %></p>
                </div>
            </div>
            <div class="service-container col-xs-6 col-sm-3">
                <div class="service-icon" style="padding:0 0 0 15px;">
                    <i class="ra ra-sword ra-3x"></i>
                </div>
                <div class="service-body">
                    <h4><%=t 'text.service.two.title' %></h4>
                    <p><%=t 'text.service.two.body' %></p>
                </div>
            </div>
            <div class="service-container col-xs-6 col-sm-3">
                <div class="service-icon">
                    <i class="fa fa-history fa-3x"></i>
                </div>
                <div class="service-body">
                    <h4><%=t 'text.service.three.title' %></h4>
                    <p><%=t 'text.service.three.body' %></p>
                </div>
            </div>
            <div class="service-container col-xs-6 col-sm-3">
                <div class="service-icon">
                    <i class="fa fa-users fa-3x"></i>
                </div>
                <div class="service-body">
                    <h4><%=t 'text.service.four.title' %></h4>
                    <p><%=t 'text.service.four.body' %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main section">
    <div class="container">
        <div class="nav-tabs-navigation" style="border-bottom: 1px solid #e8e1d7;" role="tablist">
            <ul id="tabs" class="nav nav-tabs qt-nav-tabs" data-tabs="tabs">
                <li class="<%= 'active' if !request.query_parameters[:type] %>" role="presentation"><a href="#word" id="tab_1" aria-controls="word" data-toggle="tab" aria-expanded="true"><%=t "text.today_word" %></a></li>
                <li class="<%= 'active' if request.query_parameters[:type] == "shareQT" %>" role="presentation"><a href="#shareQT" id="tab_2" aria-controls="shareQT" data-toggle="tab" aria-expanded="false"><%=t "text.qt_share" %></a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane <%= 'active' if !request.query_parameters[:type] %>" id="word">
                <h3><%=t "text.today_word" %>&nbsp;<i class="fa fa-check-square fa-2" aria-hidden="true" <% if @today_post %>style="color:#7ac29a;"<% end %>></i></h3>
                <div>
                    <div class="row" style="padding:5px 0 5px 0;">
                        <div class="col-md-12">
                            <p class="no-margin">
                                <span class="label label-danger"><%=t 'text.title' %></span>
                                <span class="qt-font-sm" style="margin-left:5px;font-weight:600;"><%= @title %></span>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="padding:5px 0 5px 0;">
                        <div class="col-md-12">
                            <p class="no-margin">
                                <span class="label label-danger"><%=t 'text.content' %></span>
                                <span class="qt-font-sm" style="margin-left:5px;font-weight:600;"><%= @book_line %></span>
                            </p>
                        </div>
                    </div>
                </div>
                <table class="table" style="font-size:13px;">
                    <tbody>
                        <% @words.each do |t| %>
                            <tr>
                                <th><%= t.first %></th>
                                <td><%= t.second %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <hr style="border-color:#E9E3D8">
                <%= form_tag({controller: "home", action: @today_post ? 'modify' : 'write'}, {id: "qt_form", method: "post"}) do |f| %>
                    <input type="hidden" name="id" value="<%= @today_post? @today_post.id : "" %>">
                    <input type="hidden" name="day" value="<%= Time.current.day %>">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 style="font-weight: bold;"><%=t "text.understanding" %>&nbsp;
                            <button class="btn btn-xs btn-success btn-fill" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                              <%=t "text.more" %>
                            </button>
                            </h5>
                            <div class="collapse" id="collapse1">
                                <div class="panel panel-success">
                                    <div class="panel-body">
                                    <% @info1.each do |t| %>
                                        <p class="qt-p"><%= t %></p>
                                    <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 style="font-weight: bold;"><%=t "text.whois" %>&nbsp;
                                        <button class="btn btn-xs btn-success btn-fill" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                          <%=t "text.more" %>
                                        </button>
                                    </h5>
                                    <textarea id="whois" name="whois" class="form-control" rows="5" placeholder="<%=t 'text.at_least_character', count: 5 %>"><%= if @today_post then @today_post.whois elsif @temp_post then @temp_post[:whois] end %></textarea>
                                    <div class="collapse" id="collapse2">
                                        <div class="panel panel-success" style="margin-top:10px;">
                                            <div class="panel-body">
                                                <p class="qt-p"><%= @info2 %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="<% if I18n.locale == :en then %>font-size:1.1em;margin-top:11px;margin-bottom:17px;<% end %>font-weight:bold;"><%=t "text.lesson" %>&nbsp;
                                        <button class="btn btn-xs btn-success btn-fill" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                          <%=t "text.more" %>
                                        </button>
                                    </h5>
                                    <textarea id="lesson" name="lesson" class="form-control" rows="5" placeholder="<%=t 'text.at_least_character', count: 10 %>"><%= if @today_post then @today_post.lesson elsif @temp_post then @temp_post[:lesson] end %></textarea>
                                    <div class="collapse" id="collapse3">
                                        <div class="panel panel-success" style="margin-top:10px;">
                                            <div class="panel-body">
                                                <p class="qt-p"><%= @info3 %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-6">
                                    <h5 style="font-weight: bold;"><%=t "text.apply" %>&nbsp;
                                        <button class="btn btn-xs btn-info btn-fill" style="padding:0;" type="button" data-toggle="popover" title="<%=t "text.apply" %>" data-content="<%=t "text.apply_description" %>">
                                            <i class="fa fa-1 fa-question" style="margin:0 1.3px 0 0;" aria-hidden="true"></i>
                                        </button>
                                    </h5>
                                    <textarea id="apply" name="apply" class="form-control" rows="5" placeholder="<%=t 'text.at_least_character', count: 5 %>"><%= if @today_post && @today_post.apply then @today_post.apply elsif @temp_post then @temp_post[:apply] end %></textarea>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="font-weight: bold;"><%=t "text.prayer" %></h5>
                                    <textarea id="pray" name="pray" class="form-control" rows="5"><%= if @today_post && @today_post.pray then @today_post.pray elsif @temp_post then @temp_post[:pray] end %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2 col-xs-2 text-left">
                            <% if !@today_post && !@temp_post %>
                            <button type="button" id="restore_qt" class="btn btn-success"><%= t 'text.restore' %></button>
                            <% end %>
                        </div>
                        <div class="col-md-8 col-xs-8 col-xs-offset-2 col-md-offset-2 text-right">
                            <div style="display:inline-block; vertical-align:middle; padding-right: 25px;" data-toggle="tooltip" title="<% if @today_post && @today_post.is_public then %><%=t 'text.need_talent_to_update' %><% else %><%=t 'text.public_description' %><% end %>" data-html="true">
                                <i id="lock" class="fa fa-lock fa-2x" style="margin-right: 10px;" aria-hidden="true"></i>
                                <input type="checkbox" name="is_public" id="is_public" <%= (@today_post && @today_post.is_public) || (@temp_post && @temp_post[:is_public]) ? "checked" : "" %> />
                                <i id="unlock" class="fa fa-unlock fa-2x" style="margin-left: 5px;" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-xs-12 col-sm-offset-4 col-sm-8">
                            <input name="tags" id="tags" class="tag-primary" value="<%= @tags %>" />
                            <!-- <input name="tagsinput" class="tagsinput tag-primary" value="<%= @tags %>" /> -->
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-4 qt-recommended-tags">
                            <span class="qt-font-sm qt-bold"><%= t 'text.recommended_tags' %>&nbsp;</span>
                            <button type="button" class="btn btn-default btn-fill btn-xs">#<%= @book_line_title_ko %></button>
                            <button type="button" class="btn btn-default btn-fill btn-xs">#<%= @book_line_title_en %></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <% unless user_signed_in? %>
                                <button type="button" id="save_qt" class="btn btn-success" data-toggle="modal" data-target="#loginModal"><%=t 'text.save' %></button>
                            <% else %>
                                <% if @today_post %>
                                    <button type="submit" class="btn btn-info submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <%=t 'text.sending' %>.."><%=t 'text.modify' %></button>
                                <% else %>
                                    <button type="submit" class="btn btn-success submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> <%=t 'text.sending' %>.."><%=t 'text.save' %></button>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div role="tabpanel" class="tab-pane <%= 'active' if request.query_parameters[:type] == 'shareQT' %>" id="shareQT">
                <h3><%=t "text.qt_share" %></h3>
                <div id="daybox">
                <%= render partial: 'posts/days_list',
                    locals: {
                        days: @days ? @days : [],
                        year: request.query_parameters[:year] ? request.query_parameters[:year].to_i : Date.current.year,
                        month: request.query_parameters[:month] ? request.query_parameters[:month].to_i : Date.current.month,
                        day: request.query_parameters[:day] ? request.query_parameters[:day].to_i : Date.current.day }
                %>
                </div>
                <div class="spinner-box" style="max-width:640px;">
                    <div class="uil-reload-css">
                        <div></div>
                    </div>
                </div>
                <div id="msgbox" class="msgbox">
                <%= render partial: 'posts/posts_list', locals: { posts: @selected, count: @posts_count,
                        year: request.query_parameters[:year] ? request.query_parameters[:year].to_i : Date.current.year,
                        month: request.query_parameters[:month] ? request.query_parameters[:month].to_i : Date.current.month,
                        day: request.query_parameters[:day] ? request.query_parameters[:day].to_i : Date.current.day }
                %>
                </div>
                <div class="spinner-box-bottom">
                    <div class="uil-reload-css">
                        <div></div>
                    </div>
                </div>
                <div id="postbox">
                    <div class="actions">
                        <%= link_to t("text.back"), "javascript:;", { class: "btn btn-primary", id: "previous_button" } %>
                    </div>
                    <div id="posts"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-nude">
    <div class="container">
        <div class="row social-line">
            <div class="col-md-4 col-sm-12">
                <h3 style="margin-top:0;"><%=t "text.share" %></h3>
            </div>
            <div class="col-md-2 col-sm-3">
                <a id="kakao-link-btn" class="btn btn-simple btn-social btn-kakaotalk btn-lg qt-eng" href="javascript:;">
                    <img src="<%= asset_path("kakaotalk-icon.png") %>" class="kakao-talk" />KakaoTalk
                </a>
            </div>
            <div class="col-md-2 col-sm-3">
                <a id="kakaostory-share-button" class="btn btn-simple btn-social btn-kakaostory btn-lg  qt-eng" href="javascript:shareKakaoStory('http://qtnote.co.kr', '<%=t 'text.slogan' %>');">
                    <img src="<%= asset_path("kakaostory-icon.png") %>" class="kakao-story" />KakaoStory
                </a>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="social-icon">
                    <a href="javascript:shareFacebook('http://qtnote.co.kr')" class="btn btn-simple btn-social btn-facebook btn-lg qt-eng">
                        <i class="fa fa-facebook" aria-hidden="true"></i>Facebook
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="social-icon">
                    <a href="javascript:shareTwitter('http://qtnote.co.kr', '<%=t 'text.slogan' %>');" class="btn btn-simple btn-social btn-twitter btn-lg qt-eng">
                        <i class="fa fa-twitter" aria-hidden="true"></i>Twitter
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // 태그 입력기 초기화
        $('#tags').tagsInput({ 
            title: '<%=t 'text.tags' %>'
        });
        
        <% if @temp_post %>
        // 수정중이던 글이 있으면 페이지 로드 후 스크롤을 이동한다.
        $('html, body').animate({
            scrollTop: $("#qt_form").offset().top
        }, 800);
        <% end %>
        
        <% if !@today_post %>
        // 새로 작성중인 글이 있으면 5초 단위로 임시 저장한다.
        $("#qt_form").sisyphus({
            autoRelease: true,
	        timeout: 5,
	        onBeforeRestore: function() { return false; },
	        onRestore: function() {
	            if($('#whois').val().length > 0 || $('#lesson').val().length > 0) {
                    $.notify({
                        message: "<%=t 'text.post_is_restored' %>"
                    },{
                        offset: { x:20, y:98 },
                        type: "info"
                    });
	            }
	        },
        });
        $('#restore_qt').click(function() {
            $("#qt_form").sisyphus().restoreAllData();
        });
        <% end %>
        $("#doIt").click(function() {
            $('html, body').animate({
                scrollTop: $(".main").offset().top
            }, 800);
        });
        
        $('.submit').on('click', function() {
            var $this = $(this);
              $this.button('loading');
                setTimeout(function() {
                   $this.button('reset');
               }, 8000);
        });
        
        //<![CDATA[
        Kakao.init('c4d2ae3d66986351a92450b6b8bb7f8b');
        Kakao.Link.createTalkLinkButton({
          container: '#kakao-link-btn',
          label: '<%=t 'text.qtnote' %>',
          image: {
            src: 'https://i.imgur.com/RcmlX9F.png',
            width: '300',
            height: '160'
          },
          webButton: {
            text: '큐티노트 홈페이지로',
            url: 'http://qtnote.co.kr' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
          }
        });
        //]]>
        
        if ($('#is_public').is(':checked')) {
            $('#unlock').css("color", "#7AC29A");
        } else {
            $('#lock').css("color", "#7AC29A");
        }
        
        $('#is_public').change(function(e) {
            if (e.target.checked){
                $('#lock').css("color", "#66615b");
                $('#unlock').css("color", "#7AC29A");
            } else {
                $('#lock').css("color", "#7AC29A");
                $('#unlock').css("color", "#66615b");
            }
        });
        
        $('#tab_1').click(function(e){
            e.preventDefault();
            if (history.pushState) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
                window.history.pushState({path:newurl},'',newurl);
            }
        });
        
        $('#tab_2').click(function(e){
            e.preventDefault();
            if (history.pushState) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?type=shareQT&year=<%= Time.current.year %>&month=<%= Time.current.month %>&day=<%= Time.current.day %>';
                window.history.pushState({path:newurl},'',newurl);
            }
        });
        
        // 추천 태그 클릭 시 태그 추가
        $('.qt-recommended-tags .btn').on("click", function(e){
            e.preventDefault();
            // 중복 방지
            if(!$('#tags').tagExist($(e.target).text())){
                $('#tags').addTag($(e.target).text());
            }
        });
        
        
        <% unless user_signed_in? %>
        // textarea 클릭 시 로그인 모달 띄우기
            $('#qt_form textarea').on("click", function(){
                $('#loginModal').modal('show');
            });
        <% end %>
    });
    
    var is_fetchable = true;
    setInterval(function(){ is_fetchable = true; }, 3000);
    
	// Each time the user scrolls
    $(window).on("scroll", function() {
    	// Fetch variables
    	var isFetching = false;
        var scrollTop = $(document).scrollTop();
        var windowHeight = $(window).height();
        var bodyHeight = $(document).height() - windowHeight;
        var scrollPercentage = (scrollTop / bodyHeight);
        var isFetching = false;
        if($('#msgbox').is(':visible') && $('.post-count').data("count") > 5 && !isFetching && is_fetchable){
            if ($(window).width() > 385 && scrollPercentage == 1){
    			$(".spinner-box-bottom").show();
    			is_fetchable = false;
                $.ajax({
                    // make a get request to the server
                    method: "POST",
                    url: "<%= fetch_posts_path %>",
                    data: {
                        type: 'posts_list',
                        id: $("#msgbox .row[data-type='post']").last().data("id"),
                        year: $(".pagination").data("year"),
                        month: $(".pagination").data("month"),
                        day: $(".pagination").data("day")
                    },
                    dataType: "script",
                    success: function () {
                        $(".spinner-box-bottom").hide();
                        isFetching = false;
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        $(".spinner-box").hide();
                    }
                });
            } else if($(window).width() <= 385 && scrollPercentage > 0.75 && scrollPercentage < 0.77) {
    			$(".spinner-box-bottom").show();
    			is_fetchable = false;
                $.ajax({
                    // make a get request to the server
                    method: "POST",
                    url: "<%= fetch_posts_path %>",
                    data: {
                        type: 'posts_list',
                        id: $("#msgbox .row[data-type='post']").last().data("id"),
                        year: $(".pagination").data("year"),
                        month: $(".pagination").data("month"),
                        day: $(".pagination").data("day")
                    },
                    dataType: "script",
                    success: function () {
                        $(".spinner-box-bottom").hide();
                        isFetching = false;
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        $(".spinner-box").hide();
                    }
                });
            }
        }
    });
    
    function shareFacebook(url){
    	window.open("http://www.facebook.com/sharer/sharer.php?u=" + url, "_blank", "width=600, height=400;");
    };
    
    function shareTwitter(url, text){
        window.open("https://twitter.com/intent/tweet?text=" + text + "&url=" + url, "_blank", "width=600, height=447;");
    };
    
    function shareKakaoStory(url, text){
        Kakao.Story.share({
            url: url,
            text: text
        });
        
    };
</script>