<div class="profile-header"></div>

<div class="container">
    <div class="main" style="padding:40px 0 40px 0;">
        <h3>프로필</h3>
        <div class="nav-tabs-navigation" role="tablist">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active" role="presentation"><a href="#summary" aria-controls="summary" data-toggle="tab" aria-expanded="true">요약</a></li>
                <li role="presentation"><a href="#myqt" aria-controls="myqt" data-toggle="tab" aria-expanded="false">내 QT</a></li>
                <li role="presentation"><a href="#achievement" aria-controls="achievement" data-toggle="tab" aria-expanded="false">업적</a></li>
                <li role="presentation"><a href="#setting" aria-controls="setting" data-toggle="tab" aria-expanded="false">설정</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="summary">
                <div class="row" style="padding-right: 15px;padding-bottom: 20px;">
                    <div class="col-md-2 col-xs-3">
                        <span class="qt-user-id qt-eng"><%= current_user.email.split("@").first %></span>
                        <span class="qt-level qt-num"><%= current_user.level %></span>
                    </div>
                </div>
                <p>총 QT 횟수 : <%= @post_count %>번</p>
                <p>최대 연속 QT 횟수 : <%= @current_user.max_streak_days %>번</p>
                <div class="progress" style="margin-top:40px; margin-bottom:5px;">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= ((@current_user.now_exp/@next_exps[@current_user.level-1].to_f)*100).floor %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ((@current_user.now_exp/@next_exps[@current_user.level-1].to_f)*100).floor %>%;">
                    <span class="sr-only"></span>
                  </div>
                </div>
                <div style="overflow: auto;">
                  <span class="qt-num" style="float: left; width:33.3%; text-align:left; font-size:22px; font-style: italic;"><%= @current_user.level %></span>
                  <span class="qt-num" style="float: left; width:33.3%; text-align:center;"><%= @current_user.now_exp %>/<%= @next_exps[@current_user.level-1] %> XP</span>
                  <span class="qt-num" style="float: left; width:33.3%; text-align:right; font-size:22px; font-style: italic;"><%= @current_user.level+1 %></span>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="myqt">
                <div>
                    <div class="qt-num" style="font-size:24px;">
                        <span class="label label-info"><%= @date ? @date.year : Time.current.year %></span>
                        <span class="label label-success"><%= @date ? @date.month : Time.current.month %></span>
                    </div>
                    <ul class="pagination pagination-success qt-pagination qt-num" style="margin-top:10px;">
                      <li><a href="/profile?year=<%= @last_year %>&month=<%= @last_month %>&day=1">«</a></li>
                      <% 1.upto(@last_day){ |d| %>
                        <li
                            <% if @date %>
                                <%= if @date.day == d then 'class=active' end %>
                            <% elsif Time.current.day == d %>
                                <%= 'class=active' %>
                            <% end %>
                            <% if @complete_days.include? d %>
                                <% if @date %>
                                    <%= unless @date.day == d then 'class=complete' end %>
                                <% else %>
                                    <%= 'class=complete' %>
                                <% end %>
                            <% end %>
                            <%= 'class=disabled' if !@date && d > Time.current.day %>
                            <% if @date %>
                                <% if @date.year == Time.current.year && @date.month == Time.current.month && d > Time.current.day %>
                                    <%= 'class=disabled' %>
                                <% end %>
                            <% end %>
                        >
                            <a 
                                href="/profile?year=<%= @date ? @date.year : Time.current.year %>&month=<%= @date ? @date.month : Time.current.month %>&day=<%= d %>"
                            >
                                <%= d %>
                            </a>
                        </li>
                      <% } %>
                      <li <%= 'class=disabled' if !@date || (@date && @date.year == Time.current.year && @date.month == Time.current.month)  %>><a href="/profile?year=<%= @next_year %>&month=<%= @next_month %>&day=1">»</a></li>
                    </ul>
                </div>
                <div>
                    <div class="row" style="padding:5px 0 5px 0;">
                        <div class="col-md-12">
                            <span class="label label-danger">제목</span>
                            <span style="margin-left:5px;font-weight:600;"><%= @today_qt ? @today_qt[:title] : "" %></span>
                        </div>
                    </div>
                    <div class="row" style="padding:5px 0 5px 0;">
                        <div class="col-md-12">
                            <span class="label label-danger">본문</span>
                            <span style="margin-left:5px;font-weight:600;"><%= @today_qt ? @today_qt[:book_line] : "" %></span>
                        </div>
                    </div>
                </div>
                <table class="table" style="font-size:13px;border-top:2px solid #ccbb9f;">
                    <tbody>
                        <% if @today_qt %>
                            <% @today_qt[:words].each do |t| %>
                            <tr>
                                <th><%= t.first %></th>
                                <td><%= t.second %></td>
                            </tr>
                            <% end %>
                        <% else %>
                            <%= "" %>
                        <% end %>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-4">
                        <h5>이해하기</h5>
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <% if @today_qt %>
                                    <% @today_qt[:explanation].each do |t| %>
                                    <p class="qt-p"><%= t %></p>
                                    <% end %>
                                <% else %>
                                    <%= "" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>하나님은 어떤 분입니까?</h5>
                        <textarea id="whois" name="whois" class="form-control" rows="5" readonly><%= @today_post ? @today_post.whois : "" %></textarea>
                        <div class="panel panel-success" style="margin-top:10px;">
                            <div class="panel-body">
                                <p class="qt-p"><%= @today_qt ? @today_qt[:whois] : "" %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>내게 주시는 교훈은 무엇입니까?</h5>
                        <textarea id="lesson" name="lesson" class="form-control" rows="5" readonly><%= @today_post ? @today_post.lesson : "" %></textarea>
                        <div class="panel panel-success" style="margin-top:10px;">
                            <div class="panel-body">
                                <p class="qt-p"><%= @today_qt ? @today_qt[:lesson] : "" %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-offset-4 col-md-4">
                        <h5>적용하기</h5>
                        <textarea id="apply" name="apply" class="form-control" rows="3" readonly><%= @today_post ? @today_post.apply : "" %></textarea>
                    </div>
                    <div class="col-md-4">
                        <h5>기도하기</h5>
                        <textarea id="pray" name="pray" class="form-control" rows="3" readonly><%= @today_post ? @today_post.pray : "" %></textarea>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="achievement">
                <div class="achievements">
                    <% @achievements.each do |a| %>
                    <div class="row <%= 'active' if a[:is_active] == true %>">
                        <div class="col-md-1 col-xs-2 qt-achievement-<%= a[:id] %>">
                        </div>
                        <div class="col-md-6 col-xs-10">
                            <div>
                                <p><%= a[:title] %> <span class="date"><%= a[:created_at].to_s(:custom_datetime) if a[:is_active] == true %></span></p>
                                <p class="qt-p"><%= a[:description] %></p>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="setting">
                <div style="max-width:480px;">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <div class="form-group">
                        <label for="user_email">이메일</label>
                        <%= f.email_field :email, :class => 'form-control', :value => @current_user.email %>
                    </div>
                    <div class="form-group">
                        <label for="user_password">패스워드 <span class="qt-info" style="margin-left:5px;">변경하지 않으려면 공백으로 남겨주세요.</span></label>
                        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                        <label for="user_password_confirmation">패스워드 확인</label>
                        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                        <label for="user_password_confirmation">현재 비밀번호 <span class="qt-info" style="margin-left:5px;">안전한 수정을 위해서 현재 비밀번호를 입력해 주세요.</span></label>
                        <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control', autocomplete: "off" %>
                    </div>
                    <div class="actions">
                      <%= f.submit "수정", :class => 'btn btn-info' %>
                    </div>
                    <% end %>
                </div>
                <hr>
                <div class="text-right">
                    <%= button_to "회원 탈퇴", registration_path(resource_name), data: { confirm: "회원님의 모든 정보가 삭제됩니다. 정말 탈퇴하시겠습니까?" }, method: :delete, class: "btn btn-danger" %>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        <% if request.query_parameters.present? %>
            <% if (request.query_parameters[:year] && request.query_parameters[:month] && request.query_parameters[:day]) || request.query_parameters[:type] == 'myqt'  %>
            $('#tabs a[href="#myqt"]').tab('show');
            <% elsif request.query_parameters[:type] == 'achievement' %>
            $('#tabs a[href="#achievement"]').tab('show');
            <% elsif request.query_parameters[:type] == 'setting' %>
            $('#tabs a[href="#setting"]').tab('show');
            <% end %>
        <% end %>
    });
</script>