<div class="profile-header"></div>

<div class="container">
    <div class="main" style="padding:40px 0 40px 0;">
        <h3><%=t 'text.profile.profile'%></h3>
        <div class="nav-tabs-navigation" role="tablist">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="<%= 'active' if !request.query_parameters[:type] %>" role="presentation"><a href="#summary" id="tab_1" aria-controls="summary" data-toggle="tab" aria-expanded="true"><%=t 'text.summary' %></a></li>
                <li class="<%= 'active' if request.query_parameters[:type] == "myQT" %>" role="presentation"><a href="#myqt" id="tab_2" aria-controls="myqt" data-toggle="tab" aria-expanded="false"><%=t 'text.myqt' %></a></li>
                <li class="<%= 'active' if request.query_parameters[:type] == "achievement" %>" role="presentation"><a href="#achievement" id="tab_3" aria-controls="achievement" data-toggle="tab" aria-expanded="false"><%=t 'text.achievement' %></a></li>
                <li class="<%= 'active' if request.query_parameters[:type] == "setting" %>" role="presentation"><a href="#setting" id="tab_4" aria-controls="setting" data-toggle="tab" aria-expanded="false"><%=t 'text.setting' %></a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane <%= 'active' if !request.query_parameters[:type] %>" id="summary">
                <div class="row" style="padding-right: 15px;padding-bottom: 20px;">
                    <div class="col-md-2 col-xs-3">
                        <span class="qt-user-id qt-eng"><%= display_name(current_user.id) %></span>
                        <span class="qt-level qt-num"><%= display_level(current_user.id) %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="qt-profile-box col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><%=t 'text.profile.total_qt_count' %></p>
                                <p class="qt-num" style="font-size:25px; margin-bottom:0;"><%= @post_count %></p>
                            </div>
                        </div>
                    </div>
                    <div class="qt-profile-box col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><%=t 'text.profile.most_streak_days' %></p>
                                <p class="qt-num" style="font-size:25px; margin-bottom:0;"><%= current_user.max_streak_days %></p>
                            </div>
                        </div>
                    </div>
                    <div class="qt-profile-box col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><%=t 'text.profile.number_of_qt_this_month' %></p>
                                <p class="qt-num" style="font-size:25px; margin-bottom:0;"><%= @number_of_qt_this_month %></p>
                            </div>
                        </div>
                    </div>
                    <div class="qt-profile-box col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><%=t 'text.profile.number_of_qt_this_week' %></p>
                                <p class="qt-num" style="font-size:25px; margin-bottom:0;"><%= @number_of_qt_this_week %></p>
                            </div>
                        </div>
                    </div>
                    <div class="qt-profile-box col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><%=t 'text.profile.usual_time_for_qt' %></p>
                                <p class="qt-num" style="font-size:25px; margin-bottom:0;"><%=l @usual_time_for_qt, format: :period_and_hour %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="progress" style="margin-top:40px; margin-bottom:5px;">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= ((current_user.now_exp/@next_exps[current_user.level-1].to_f)*100).floor %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= ((current_user.now_exp/@next_exps[current_user.level-1].to_f)*100).floor %>%;">
                    <span class="sr-only"></span>
                  </div>
                </div>
                <div style="overflow: auto;">
                  <span class="qt-num" style="float: left; width:33.3%; text-align:left; font-size:22px; font-style: italic;"><%= current_user.level %></span>
                  <span class="qt-num" style="float: left; width:33.3%; text-align:center;"><%= current_user.now_exp %>/<%= @next_exps[current_user.level-1] %> XP</span>
                  <span class="qt-num" style="float: left; width:33.3%; text-align:right; font-size:22px; font-style: italic;"><%= current_user.level+1 %></span>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane <%= 'active' if request.query_parameters[:type] == 'myQT' %>" id="myqt">
                <div>
                    <div class="qt-num" style="font-size:24px;">
                        <span class="label label-info"><%= @date ? @date.year : Time.current.year %></span>
                        <span class="label label-success"><%= @date ? @date.month : Time.current.month %></span>
                    </div>
                    <ul class="pagination pagination-success qt-pagination qt-num" style="margin-top:10px;">
                      <li><%= link_to "«", { controller: 'home', action: 'profile', year: @last_year, month: @last_month, day: 1, type: 'myQT' } %></li>
                      <% 1.upto(@last_day){ |d| %>
                        <li
                            <% if @date %>
                                <%= if @date.day == d then 'class=active' end %>
                            <% elsif Time.current.day == d %>
                                <%= 'class=active' %>
                            <% end %>
                            <% if @complete_days.include? d %>
                                <% if @date %>
                                    <%= unless @date.day == d then 'class=complete' end %>
                                <% else %>
                                    <%= 'class=complete' %>
                                <% end %>
                            <% end %>
                            <%= 'class=disabled' if !@date && d > Time.current.day %>
                            <% if @date %>
                                <% if @date.year == Time.current.year && @date.month == Time.current.month && d > Time.current.day %>
                                    <%= 'class=disabled' %>
                                <% end %>
                            <% end %>
                        >
                            <%= link_to d, { controller: 'home', action: 'profile', year: @date ? @date.year : Time.current.year, month: @date ? @date.month : Time.current.month, day: d, type: 'myQT' } %>
                        </li>
                      <% } %>
                      <li <%= 'class=disabled' if !@date || (@date && @date.year == Time.current.year && @date.month == Time.current.month)  %>><%= link_to "»", { controller: 'home', action: 'profile', year: @next_year, month: @next_month, day: 1, type: 'myQT' } %></li>
                    </ul>
                </div>
                <div>
                    <div class="row" style="padding:5px 0 5px 0;">
                        <div class="col-md-12">
                            <p class="no-margin">
                                <span class="label label-danger"><%=t 'text.title' %></span>
                                <span class="qt-font-sm" style="margin-left:5px;font-weight:600;"><%= @today_qt ? @today_qt[:title] : "" %></span>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="padding:5px 0 5px 0;">
                        <div class="col-md-12">
                            <p class="no-margin">
                                <span class="label label-danger"><%=t 'text.content' %></span>
                                <span class="qt-font-sm" style="margin-left:5px;font-weight:600;"><%= @today_qt ? @today_qt[:book_line] : "" %></span>
                            </p>
                        </div>
                    </div>
                </div>
                <table class="table" style="font-size:13px;">
                    <tbody>
                        <% if @today_qt %>
                            <% @today_qt[:words].each do |t| %>
                            <tr>
                                <th><%= t.first %></th>
                                <td><%= t.second %></td>
                            </tr>
                            <% end %>
                        <% else %>
                            <%= "" %>
                        <% end %>
                    </tbody>
                </table>
                <hr style="border-color:#E9E3D8">
                <div class="row">
                    <div class="col-md-4">
                        <h5 style="font-weight: bold;"><%=t 'text.understanding' %></h5>
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <% if @today_qt %>
                                    <% @today_qt[:explanation].each do |t| %>
                                    <p class="qt-p"><%= t %></p>
                                    <% end %>
                                <% else %>
                                    <%= "" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 style="font-weight: bold;"><%=t 'text.whois' %></h5>
                                    <textarea id="whois" name="whois" class="form-control" rows="5" readonly><%= @today_post ? @today_post.whois : "" %></textarea>
                                    <div class="panel panel-success" style="margin-top:10px;">
                                        <div class="panel-body">
                                            <p class="qt-p"><%= @today_qt ? @today_qt[:whois] : "" %></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="font-weight: bold;"><%=t 'text.lesson' %></h5>
                                    <textarea id="lesson" name="lesson" class="form-control" rows="5" readonly><%= @today_post ? @today_post.lesson : "" %></textarea>
                                    <div class="panel panel-success" style="margin-top:10px;">
                                        <div class="panel-body">
                                            <p class="qt-p"><%= @today_qt ? @today_qt[:lesson] : "" %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 style="font-weight: bold;"><%=t 'text.apply' %></h5>
                                    <textarea id="apply" name="apply" class="form-control" rows="5" readonly><%= @today_post ? @today_post.apply : "" %></textarea>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="font-weight: bold;"><%=t 'text.prayer' %></h5>
                                    <textarea id="pray" name="pray" class="form-control" rows="5" readonly><%= @today_post ? @today_post.pray : "" %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane <%= 'active' if request.query_parameters[:type] == 'achievement' %>" id="achievement">
                <div class="achievements">
                    <% @achievements.each do |a| %>
                    <div class="row <%= 'active' if a[:is_active] == true %>" style="text-transform: uppercase;">
                        <div class="col-md-1 col-xs-2 qt-achievement-<%= a[:id] %>">
                        </div>
                        <div class="col-md-6 col-xs-10">
                            <div>
                                <p><%= a[:title] %> <span class="date"><%= a[:created_at].to_s(:custom_datetime) if a[:is_active] == true %></span></p>
                                <p class="qt-p"><%= a[:description] %></p>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane <%= 'active' if request.query_parameters[:type] == 'setting' %>" id="setting">
                <div style="max-width:480px;">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <% if current_user.provider != 'google_oauth2' %>
                    <div class="form-group">
                        <label for="user_email"><%=t 'activerecord.attributes.user.email' %></label>
                        <%= f.email_field :email, :class => 'form-control', :value => current_user.email %>
                    </div>
                    <% end %>
                    <div class="form-group">
                        <label for="user_nickname"><%=t 'activerecord.attributes.user.nickname' %> <span class="qt-info" style="margin-left:5px;"><%=t 'text.leave_nickname_blank' %></span></label>
                        <%= f.text_field :nickname, :class => 'form-control', :value => current_user.nickname, placeholder: t('text.nickname_placeholder') %>
                    </div>
                    <% if current_user.provider != 'google_oauth2' %>
                    <div class="form-group">
                        <label for="user_password"><%=t 'activerecord.attributes.user.password' %> <span class="qt-info" style="margin-left:5px;"><%=t 'text.leave_password_blank' %></span></label>
                        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                        <label for="user_password_confirmation"><%=t 'activerecord.attributes.user.password_confirmation' %></label>
                        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                        <label for="user_password_confirmation"><%=t 'activerecord.attributes.user.current_password' %> <span class="qt-info" style="margin-left:5px;"><%=t 'text.enter_current_password' %></span></label>
                        <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
                    </div>
                    <% end %>
                    <div class="actions">
                      <%= f.submit t("text.modify"), :class => 'btn btn-info' %>
                    </div>
                    <% end %>
                </div>
                <hr>
                <div class="text-right">
                    <%= button_to t('text.delete_my_account'), registration_path(resource_name), data: { confirm: t('text.are_you_sure_to_delete') }, method: :delete, class: "btn btn-danger" %>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#tab_1').click(function(){
            if (history.pushState) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
                window.history.pushState({path:newurl},'',newurl);
            }
        });
        $('#tab_2').click(function(){
            if (history.pushState) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?type=myQT';
                window.history.pushState({path:newurl},'',newurl);
            }
        });
        $('#tab_3').click(function(){
            if (history.pushState) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?type=achievement';
                window.history.pushState({path:newurl},'',newurl);
            }
        });
        $('#tab_4').click(function(){
            if (history.pushState) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?type=setting';
                window.history.pushState({path:newurl},'',newurl);
            }
        });
    });
</script>