<div class="section" style="height:83vh;overflow:hidden;padding-bottom:120px;">
  <div class="container" style="max-width:480px;">
    <h2 class="text-center qt-link-danger"><a href="/" class="qt-eng">QTNote</a></h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <label for="user_email"><%=t 'activerecord.attributes.user.email' %></label><br />
      <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
    </div>
  
    <div class="form-group">
      <label for="user_password"><%=t 'activerecord.attributes.user.password' %></label><br />
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <label class="checkbox" for="user_remember_me">
        <span class="icons">
        <span class="first-icon fa fa-square fa-base"></span>
        <span class="second-icon fa fa-check-square fa-base"></span></span>
        <%= f.check_box :remember_me, :datatoggle => "checkbox" %><%=t 'activerecord.attributes.user.remember_me' %>
      </label>
    <% end -%>
  
    <div class="actions">
      <%= f.submit t("text.sign_in"), :class => 'btn btn-danger btn-fill btn-block' %>
    </div>
    <div class="text-center">
      <h6 style="margin-top:20px;"><%=t 'text.sns_login' %></h6>
      <div class="row" style="margin: 20px 0;">
        <div class="col-md-12">
          <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-danger btn-fill", style: "padding-left:10px;padding-right:3px;" do %><i class='fa fa-google-plus' aria-hidden='true'></i><% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="qt-link-danger text-center" style="margin-top:10px; font-size:14px;">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to t("text.sign_up"), new_registration_path(resource_name) %>
      <% end -%>
      <span class="qt-between">/</span>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to t("text.forgot_password"), new_password_path(resource_name) %>
      <% end -%>
      <span class="qt-between">/</span>
      <%- if devise_mapping.confirmable? %>
        <%= link_to t("text.reconfirmation"), new_confirmation_path(resource_name) %>
      <% end %>
    </div>
  </div>
</div>