<% if posts %>
    <p class="qt-font-sm post-count" style="margin-bottom:20px;" data-count="<%= count %>"><%=t("text.sharing_x_qt_total", count: count) %></p>
    <% posts.each do |p| %>
        <%= render partial: 'posts/one_post', locals: {p: p} %>
    <% end %>
    <script>
        $(document).ready(function(){
            $("#previous_button").on("click", function(e){
                e.preventDefault();
                year = <%= year %>;
                month = <%= month %>;
                day = <%= day %>;
                $("#postbox").hide();
                $("#msgbox").show();
                if (history.pushState) {
                    var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?type=shareQT&year='+year+'&month='+month+'&day='+day;
                    window.history.pushState({path:newurl},'',newurl);
                }
            });
            
            <% if request.query_parameters && request.query_parameters[:year] && request.query_parameters[:month] &&
                request.query_parameters[:day] && request.query_parameters[:type] &&
                request.query_parameters[:type] == 'shareQT' && request.query_parameters[:p_id]
            %>
                $("#msgbox").hide();
                $(".spinner-box").show();
                $.ajax({
                  method: "POST",
                  url: "<%= fetch_posts_path %>",
                  data: { type: 'post', id: <%= request.query_parameters[:p_id] %> },
                  success: function(data){
                    $(".spinner-box").hide();
                    $("#postbox").show();
                    $("#posts").html(data);
                  }
                });
            <% end %>
        });
    </script>
<% end %>