<div class="section" style="height:83vh;overflow:hidden;padding-bottom:120px;">
    <div class="container">
        <% if @post %>
            <div class="msgbox">
                <% if user_signed_in? && @post.user_id == current_user.id %>
                    <div class="row" style="padding-bottom:20px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 10px; margin-bottom: 15px;">
                                    <div class="talk-user-me">
                                        <span class="qt-eng"><%= current_user.nickname ? current_user.nickname : current_user.email.split("@").first %></span>
                                        <span class="qt-level-sm qt-num"><%= current_user.level %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row text-right">
                                        <div style="display:inline-block; float:none; margin-right:100px;">
                                            <div class="col-table text-center" style="vertical-align:bottom; padding-left: 15px; padding-right: 10px;">
                                                <span class="qt-talk-time"><%= time_ago_in_words(@post.created_at) %></span>
                                            </div>
                                            <article class="talk me text-left">
                                                <p class="no-margin qt-font-sm">
                                                  <% if (content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + @post.whois + tag("br") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + @post.lesson).length > 500 %>
                                                    <%= truncate(content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + @post.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br", class: "line-height-25") + @post.lesson, length: 500, escape: false) %>
                                                    <br />
                                                    <%= link_to t('text.read_more'), '', class: "read-more-#{@post.id}" %>
                                                    <script>
                                                      $('.read-more-<%= @post.id %>').on('click', function(e) {
                                                        e.preventDefault();
                                                        $(this).parent().html('<%= raw escape_javascript (content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + @post.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + @post.lesson) %>')
                                                      })
                                                    </script>
                                                  <% else %>
                                                    <%= raw content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + @post.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + @post.lesson %>
                                                  <% end %>
                                                </p>
                                                <div class="qt-actions">
                                                    <ul>
                                                        <li>
                                                            <%= link_to @post.likes.include?(current_user.id) ? ('<i class="fa fa-heart active" aria-hidden="true"></i>').html_safe : ('<i class="fa fa-heart-o" aria-hidden="true"></i>').html_safe, @post.likes.include?(current_user.id) ? dislike_post_url(id: @post.id) : like_post_url(id: @post.id), {class: 'vote', method: :post, remote: true, data: {id: @post.id}} %>
                                                            <span class="likes-count" data-id="<%= @post.id %>"><%= @post.likes.length %></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div style="position: absolute; right: 0; top: 0;">
                                            <img src="http://image.flaticon.com/icons/svg/149/149071.svg" width="64" height="64">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% else %>
                    <div class="row" style="padding-bottom:20px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 10px; margin-bottom: 15px;">
                                    <div class="talk-user-other">
                                        <span class="qt-eng"><%= User.find_by(id: @post.user_id).nickname ? User.find_by(id: @post.user_id).nickname : User.find_by(id: @post.user_id).email.split("@").first %></span>
                                        <span class="qt-level-sm qt-num"><%= User.find_by(id: @post.user_id).level %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="display:table;">
                                        <div class="col-md-1 col-table" style="padding-right: 25px;">
                                            <img src="http://image.flaticon.com/icons/svg/149/149071.svg" width="64" height="64">
                                        </div>
                                        <div class="col-md-11 col-table" style="padding-right: 10px;">
                                            <article class="talk other">
                                                <p class="no-margin qt-font-sm">
                                                  <% if (content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + @post.whois + tag("br") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + @post.lesson).length > 500 %>
                                                    <%= truncate(content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + @post.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br", class: "line-height-25") + @post.lesson, length: 500, escape: false) %>
                                                    <br />
                                                    <%= link_to t('text.read_more'), '', class: "read-more-#{@post.id}" %>
                                                    <script>
                                                      $('.read-more-<%= @post.id %>').on('click', function(e) {
                                                        e.preventDefault()
                                                        $(this).parent().html('<%= raw escape_javascript (content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + @post.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + @post.lesson) %>')
                                                      })
                                                    </script>
                                                  <% else %>
                                                    <%= raw content_tag("span", t('text.whois'), class: 'qt-bold') + tag("br") + @post.whois + tag("br", class: "line-height-25") + content_tag("span", t('text.lesson'), class: 'qt-bold') + tag("br") + @post.lesson %>
                                                  <% end %>
                                                </p>
                                                <div class="qt-actions">
                                                    <ul>
                                                        <li>
                                                            <% if user_signed_in? %>
                                                                <%= link_to @post.likes.include?(current_user.id) ? ('<i class="fa fa-heart active" aria-hidden="true"></i>').html_safe : ('<i class="fa fa-heart-o" aria-hidden="true"></i>').html_safe, @post.likes.include?(current_user.id) ? dislike_post_url(id: @post.id) : like_post_url(id: @post.id), {class: 'vote', method: :post, remote: true, data: {id: @post.id}} %>
                                                            <% else %>
                                                                <a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                                            <% end %>
                                                            <span class="likes-count" data-id="<%= @post.id %>"><%= @post.likes.length %></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <div class="col-table" style="vertical-align:bottom; padding-left: 10px; padding-right: 10px;">
                                                <span class="qt-talk-time"><%= time_ago_in_words(@post.created_at) %></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p><%=t 'text.unavailable_link' %> <%= link_to t('text.go_back_to_previous_page'), session[:previous_url] %></p>
        <% end %>
    </div>
</div>
<script>
    $(document).ajaxSuccess(function(status,data,xhr){
        url = xhr.url;
        url = url.split('/');
        actionType = url[url.length-1];
        type = url[url.length-3];
        if(type == 'posts'){
            post_id = data.responseJSON.id;
            count = data.responseJSON.count;
            url[url.length-1] = (actionType == 'like') ? 'dislike' : 'like';
            $(".vote[data-id=" + post_id + "]").attr("href", url.join('/'));
            $(".likes-count[data-id=" + post_id + "]").text(count);
            if(actionType == 'like'){
                $(".vote[data-id=" + post_id + "]").children().first().removeClass("fa-heart-o").addClass("fa-heart active");
            }else if(actionType == 'dislike'){
                $(".vote[data-id=" + post_id + "]").children().first().removeClass("fa-heart active").addClass("fa-heart-o");
            }
        }
    });
</script>