<p><%=t('text.attributes.mailer.reset_password.1', email: @resource.email.split("@").first) %></p>
<p><%=t('text.attributes.mailer.reset_password.2') %></p>

<p><%= link_to t('text.attributes.mailer.reset_password.3'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t('text.attributes.mailer.reset_password.4') %></p>
<p><%=t('text.attributes.mailer.reset_password.5') %></p>
