<p><%=t('text.attributes.mailer.reset_password.sub_1', email: @resource.email.split("@").first) %></p>
<p><%=t('text.attributes.mailer.reset_password.sub_2') %></p>

<p><%= link_to t('text.attributes.mailer.reset_password.sub_3'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t('text.attributes.mailer.reset_password.sub_4') %></p>
<p><%=t('text.attributes.mailer.reset_password.sub_5') %></p>
