<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%=t 'text.qtnote' %>">
  <meta property="og:url" content="http://qtnote.co.kr">
  <meta property="og:description" content="<%=t 'text.slogan' %>">
  <meta property="og:image" content="https://i.imgur.com/RcmlX9F.png"> 
  <title><%=t 'text.qtnote' %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <style>
    <% if I18n.locale != :ko %>
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, body {
      font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    }
    <% end %>
  </style>
</head>
<body>
  <div class="wrapper">
    <% if user_signed_in? && !current_user.confirmed? %>
        <div class="alert alert-warning" style="margin:0">
          <div class="container">
            <%=t 'devise.registrations.signed_up_but_unconfirmed' %>
          </div>
        </div>
    <% end %>
    <nav class="navbar navbar-default" role="navigation-demo" id="demo-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target="#qt-navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <% unless user_signed_in? %>
          <a href="#" class="btn btn-simple navbar-toggle" data-toggle="modal" data-target="#loginModal", style="font-size: 15px;width:auto !important;height:auto !important; margin-top: 14px;"><%=t 'text.sign_in' %>
          <% end %>
          <a href="/<%= 'en' if I18n.locale == :en %>">
            <div class="logo-container">
                <div class="brand qt-eng">
                    QTNote
                </div>
            </div>
          </a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="qt-navigation">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li class="qt-top-icon text-center visible-xs" style="padding-right:15px;">
            <a href="#" id="pop_notifcation1" class="qt-icon qt-notification" style="display: inline-block; margin: 0 0 2px 0; position: relative;">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <% if current_user.messages.where(is_read:false).count > 0 %>
              <span id="notification-count" class="badge"><%= current_user.messages.where(is_read:false).count %></span>
              <% end %>
            </a>
            <span class="qt-icon qt-flame" style="margin-right: 15px;" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%=t 'text.streak_days', day: @streak_days %>">
              <span class="qt-num"><%= @streak_days %></span>
            </span>
            <span class="qt-icon qt-talent" style="margin-right: 25px;" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%=t 'text.talent', day: current_user.talent %>">
              <span class="qt-num"><%= current_user.talent %></span>
            </span>
          </li>
          <% end %>
          <li>
            <% if I18n.locale == :en %>
              <%= link_to "한국어", { locale: "ko" }, { class: "btn btn-simple", style: "padding-top:10px; padding-bottom:10px; font-size: 15px;" }  %>
            <% else %>
              <%= link_to "English", { locale: "en" }, { class: "btn btn-simple qt-eng", style: "padding-top:10px; padding-bottom:10px;" }  %>
            <% end %>
          </li>
          <% if user_signed_in? %>
          <li class="dropdown qt-dropdown text-center" id="qt-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="qt-eng"><%= current_user.email %></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('text.profile'), { controller: '/home', action: 'profile' } %></li>
              <li><%= link_to t('text.myqt'), { controller: '/home', action: 'profile', type: 'myqt' } %></li>
              <li><%= link_to t('text.setting'), { controller: '/home', action: 'profile', type: 'setting' } %></li>
              <li class="divider"></li>
              <li><%= link_to t('text.sign_out'), destroy_user_session_path %></li>
            </ul>
          </li>
          <li class="qt-top-icon text-center hidden-xs" style="padding-right:15px;">
            <a href="#" id="pop_notifcation2" class="qt-icon qt-notification" style="display: inline-block; margin: 0 0 2px 0; position: relative;">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <% if current_user.messages.where(is_read:false).count > 0 %>
              <span id="notification-count" class="badge"><%= current_user.messages.where(is_read:false).count %></span>
              <% end %>
            </a>
            <span class="qt-icon qt-flame" style="margin-right: 15px;" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%=t 'text.streak_days', day: @streak_days %>">
              <span class="qt-num"><%= @streak_days %></span>
            </span>
            <span class="qt-icon qt-talent" style="margin-right: 0px;" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%=t 'text.talent', day: current_user.talent %>">
              <span class="qt-num"><%= current_user.talent %></span>
            </span>
          </li>
          <% else %>
          <li>
            <a href="#" class="btn btn-simple" data-toggle="modal" data-target="#loginModal", style="padding-top:10px; padding-bottom:10px; font-size: 15px;"><%=t 'text.sign_in' %></a>
          </li>
          <% end %>
         </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
    </nav>
    <!-- Popup for notifications -->
    <% if user_signed_in? %>
    <div id="qt-notifications" class="qt-notifications">
      <ul class="qt-list-notifications">
        <% if @messages.present? %>
          <% @messages.limit(3).each do |m| %>
          <li>
            <%= link_to user_url(m.sender_id), class: "avatar avatar-micro" do %>
              <img src="http://image.flaticon.com/icons/svg/149/149071.svg">
            <% end %>
            <%= link_to user_url(m.sender_id) do %>
              <%= User.find_by(id: m.sender_id).nickname ? User.find_by(id:m.sender_id).nickname : User.find_by(id: m.sender_id).email.split("@").first %>
            <% end %>
            <%=t 'text.notifications.like_your_post' %> <%= link_to "\"" + Post.find_by(id: m.object_id).created_at.strftime("%m/%d QT") + "\"" , post_url(m.object_id) %> <span class="datetime"><%= time_ago_in_words(m.created_at) %></span>
          </li>
          <% end %>
          <li class="qt-notifications-list-footer text-center">
            <%= link_to t('text.see_all'), messages_url, class: "btn btn-info btn-sm" %>
          </li>
        <% else %>
          <li style="min-width:370px;padding-left:10px;"><%=t 'text.notifications.no_notifcations' %> <i class="em em-smile" style="margin-bottom:5px;"></i> <%= link_to t('text.see_all'), messages_url, {class: "btn btn-info btn-xs", style: "margin-left:5px;"} %></li>
        <% end %>
        <div class="close"></div>
      </ul>
    </div>
    <% end %>
    <!-- /.Popup for notifications -->
    <%= yield %>
    <div class="push"></div>
  </div>
  
  <!-- Modal for sign in and sign up -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="max-width:420px;" role="document">
      <div class="modal-content" style="border-top-width:0; box-shadow:0 7px 15px -5px rgba(0,0,0,.5);">
        <div class="modal-header" style="background-color:#ff8f5e;border-bottom:transparent;border-top-left-radius:10px;border-top-right-radius:10px;">
          <ul class="login-tab" role="tablist">
            <li role="presentation" class="active">
              <a class="btn btn-none" href="#login" aria-controls="login" role="tab" data-toggle="tab"><%=t 'text.sign_in' %></a>
            </li>
            <li role="presentation">
              <a class="btn btn-none" href="#register" aria-controls="register" role="tab" data-toggle="tab"><%=t 'text.sign_up' %></a>
            </li>
          </ul>
          <button class="close" data-dismiss="modal">×</button>
          <h4 style="margin:0;color:#fff;"><%=t 'text.qtnote' %></h4>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="login">
            <%= form_for resource, :url => session_path(:user) do |f| %>
              <div class="modal-body">
                  <input type="hidden" id="whois1" name="whois" value="">
                  <input type="hidden" id="lesson1" name="lesson" value="">
                  <input type="hidden" id="apply1" name="apply" value="">
                  <input type="hidden" id="pray1" name="pray" value="">
                  <input type="hidden" id="public1" name="public" value="">
                  <div class="form-group">
                    <label for="user_email"><%=t 'activerecord.attributes.user.email' %></label>
                    <%= f.text_field :email, autofocus: true, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <label for="user_password"><%=t 'activerecord.attributes.user.password' %></label>
                    <%= f.password_field :password, :class => 'form-control' %>
                  </div>
                  <% if devise_mapping.rememberable? -%>
                    <label class="checkbox" for="user_remember_me">
                      <span class="icons">
                      <span class="first-icon fa fa-square fa-base"></span>
                      <span class="second-icon fa fa-check-square fa-base"></span></span>
                      <%= f.check_box :remember_me, :datatoggle => "checkbox" %><%=t 'activerecord.attributes.user.remember_me' %>
                    </label>
                  <% end -%>
              </div>
              <div class="modal-footer" style="border-top:transparent;padding:10px 0 20px 0;text-align:center;">
                <div class="row">
                  <div class="col-md-12">
                    <%= f.submit t('text.sign_in'), :class => 'btn btn-danger' %>
                  </div>
                </div>
                <h6 style="margin-top:20px;text-transform: none;"><%=t 'text.sns_login' %></h6>
                <div class="row" style="margin: 20px 0;">
                  <div class="col-md-12">
                    <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-danger btn-fill", style: "padding-left:10px;padding-right:3px;" do %><i class='fa fa-google-plus' aria-hidden='true'></i><% end %>
                  </div>
                </div>
                <hr>
                <div class="qt-link-danger text-center" style="font-size:14px;">
                  <%- if devise_mapping.recoverable? %>
                    <%= link_to t("text.forgot_password"), new_password_path(resource_name) %>
                  <% end -%>
                  <span class="qt-between">/</span>
                  <%- if devise_mapping.confirmable? %>
                    <%= link_to t("text.reconfirmation"), new_confirmation_path(resource_name) %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="register">
            <%= form_for resource, :url => registration_path(resource_name) do |f| %>
              <div class="modal-body">
                  <input type="hidden" id="whois2" name="whois" value="">
                  <input type="hidden" id="lesson2" name="lesson" value="">
                  <input type="hidden" id="apply" name="apply" value="">
                  <input type="hidden" id="pray2" name="pray" value="">
                  <input type="hidden" id="public2" name="public" value="">
                  <div class="form-group">
                    <label for="user_email"><%=t 'activerecord.attributes.user.email' %></label>
                    <%= f.email_field :email, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <label for="user_password"><%=t 'activerecord.attributes.user.password' %></label>
                    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <label for="user_password_confirmation"><%=t 'activerecord.attributes.user.password_confirmation' %></label>
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
                  </div>
              </div>
              <div class="modal-footer" style="border-top:transparent;padding:0 0 20px 0;text-align:center;">
                <%= f.submit t('text.sign_up'), :class => 'btn btn-danger' %>
                <h6 style="margin-top:20px;text-transform: none;"><%=t 'text.sns_signup' %></h6>
                <div class="row" style="margin: 20px 0;">
                  <div class="col-md-12">
                    <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-danger btn-fill", style: "padding-left:10px;padding-right:3px;" do %><i class='fa fa-google-plus' aria-hidden='true'></i><% end %>
                  </div>
                </div>
                <hr>
                <div class="qt-link-danger text-center" style="font-size:14px;">
                  <%- if devise_mapping.recoverable? %>
                    <%= link_to t("text.forgot_password"), new_password_path(resource_name) %>
                  <% end -%>
                  <span class="qt-between">/</span>
                  <%- if devise_mapping.confirmable? %>
                    <%= link_to t("text.reconfirmation"), new_confirmation_path(resource_name) %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal to show post is uploaded -->
  <% if user_signed_in? %>
  <div class="modal fade" id="postModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="max-width:768px; padding-top: 5px;" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom:none;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" style="padding-top:0;">
          <div class="checkmark">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
              <path class="path" fill="none" stroke="#7DB0D5" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
              	c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
              	c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z"/>
              <circle class="path" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
              <polyline class="path" fill="none" stroke="#7DB0D5" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8 
              	74.1,108.4 48.2,86.4 "/>
              <circle class="spin" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/>
            </svg>
            <p class="title"><%=t "text.qt_is_registered" %></p>
          </div>
          <div class="text-center">
            <p class="qt-num" style="font-size:17px; color:#7ac29a; font-weight: bold;">+ <%= @done_data ? @done_data['exp'] : 0 %> XP</p>
            <p class="qt-num" style="font-size:17px; color:#7ac29a; font-weight: bold;">+ <%= @done_data ? @done_data['talent'] : 0 %> TALENT</p>
            <div class="progress" style="margin-top:20px; margin-bottom:10px;">
              <div class="progress-bar progress-bar-warning" id="qt-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span>
              </div>
            </div>
            <div style="overflow: auto;">
              <span class="qt-num" id="before_level" style="float: left; width:33.3%; text-align:left; font-size:22px; font-style: italic;"><%= !@leveled_up ? current_user.level : current_user.level-1 %></span>
              <span class="qt-num" id="current_exp" style="float: left; width:33.3%; text-align:center;"><%= !@leveled_up ? current_user.now_exp : @next_exps[current_user.level-2] %>/<%= !@leveled_up ? @next_exps[current_user.level-1] : @next_exps[current_user.level-2] %> XP</span>
              <span class="qt-num" id="next_level" style="float: left; width:33.3%; text-align:right; font-size:22px; font-style: italic;"><%= !@leveled_up ? current_user.level+1 : current_user.level %></span>
            </div>
            <% if @done_data && @done_data['is_public'] %>
            <p class="qt-num" style="font-size:17px; color:#F3BB45; font-weight: bold;">+ 20% BONUS XP</p>
            <% end %>
            <p id="level-up" style="font-size:15px; display:none; font-weight: bold;"><%=t 'text.level_up' %></p>
          </div>
        </div>
        <div class="modal-footer" style="border-top:none;padding:15px;">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%=t "text.close" %></button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  
  <footer class="footer footer-demo section-dark qt-eng">
    <div class="container">
      <nav class="pull-left">
          <ul>
            <li >
              <span class="qt-eng"><i class="fa fa-envelope fa-1" aria-hidden="true"></i> qtnote.help@gmail.com</span>
            </li>
            <li >
              <a class="qt-eng" href="http://blog.naver.com" target="_blank">Blog</a>
            </li>
          </ul>
      </nav>
      <div class="copyright pull-right qt-eng">
          © 2016, made with <i class="fa fa-heart heart"></i> by Harim Kim
      </div>
    </div>
  </footer>
  <script>
    $(document).ready(function() {
      // 알림 글로벌 설정
      $.notifyDefaults({
        z_index: 99999
      });
      
      // 툴팁 활성화
      $('[data-toggle="tooltip"]').tooltip(); 
      
      // 플래시가 있으면 growl 알림을 띄운다.
      <% flash.each do |name, msg| %>
        <% if name == notice then name = 'info' end %>
        <% unless name == 'success' || name == 'warning' || name == 'info' || name == 'danger' %>
          <% name = 'danger' %>
        <% end %>
        <% unless msg.is_a? String %>
          <% msg.each do |m, options, settings| %>
            $.notify({
              message: "<%= m %>",
              <% if options.is_a?(::Hash) %>
                <% options.each do |key, val| %>
                <%= key %>: "<%= val.html_safe %>",
                <% end %>
              <% end %>
            },{
              type: "<%= name %>",
              offset: { x:20, y:98 },
              <% if settings.is_a?(::Hash) %>
                <% settings.each do |key, val| %>
                <% if val.is_a?(::Hash) %>
                  <%= key %>: {<% val.each do |k,v| %> <%= k %>: "<%= v %>", <% end %>},
                <% else %>
                  <%= key %>: "<%= val %>",
                <% end %>
                <% end %>
              <% end %>
            });
            
          <% end %>
        <% else  %>
          $.notify({
            message: "<%= msg %>"
          },{
            offset: { x:20, y:98 },
            type: "<%= name %>"
          });
        <% end %>
      <% end %>
      
      // 로그인 모달이 뜨면 params로 전달할 내용을 미리 채워둔다.
      $('#loginModal').on('shown.bs.modal', function () {
        // 회원가입과 로그인 폼에 각각 값을 채운다.
        $("#whois1").val($("#whois").val())
        $("#whois2").val($("#whois").val())
        $("#lesson1").val($("#lesson").val())
        $("#lesson2").val($("#lesson").val())
        $("#apply1").val($("#apply").val())
        $("#apply2").val($("#apply").val())
        $("#pray1").val($("#pray").val())
        $("#pray2").val($("#pray").val())
        $("#public1").val($("#public").val())
        $("#public2").val($("#public").val())
      });
      <% if cookies[:done] %>
      $('#postModal').modal('show');
      setTimeout(function(){
        <% if @leveled_up %>
        $('#qt-progressbar').css("width", "100%");
        setTimeout(function(){
          $('#level-up').fadeIn();
          setTimeout(function(){
            $('#before_level').text("<%= current_user.level %>");
            $('#next_level').text("<%= current_user.level+1 %>");
            $('#current_exp').text("<%= current_user.now_exp %>/<%= @next_exps[current_user.level-1] %> XP");
            $('#qt-progressbar').css("width", "<%= ((current_user.now_exp/@next_exps[current_user.level-1].to_f)*100).floor %>%");
          }, 1000);
        }, 1200);
        <% else %>
        $('#qt-progressbar').css("width", "<%= ((current_user.now_exp/@next_exps[current_user.level-1].to_f)*100).floor %>%");
        <% end %>
      }, 500);
      <% end %>
      
        $("#pop_notifcation1").click(function(){
          $(".qt-notifications").fadeToggle(300);
          $.post("<%= read_message_url %>", function(data, status){
            if(status == 'success'){
              $("#notification-count").hide();
            }
          });
          return false;
        });
        
        $("#pop_notifcation2").click(function(){
          $(".qt-notifications").fadeToggle(300);
          $.post("<%= read_message_url %>", function(data, status){
            if(status == 'success'){
              $("#notification-count").hide();
            }
          });
          return false;
        });
        
        //Document Click hiding the popup 
        $(document).click(function(){
          $(".qt-notifications").hide();
        });
    });
  </script>
</body>
</html>