<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>큐티노트</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-default" role="navigation-demo" id="demo-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#qt-navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="/">
              <div class="logo-container">
                  <div class="brand qt-eng">
                      QTNote
                  </div>
              </div>
          </a>
      </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="qt-navigation">
        <ul class="nav navbar-nav navbar-right">
          <% if @is_logged_in %>
          <li class="dropdown qt-dropdown" id="qt-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="qt-eng"><%= @current_user.email %></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/profile">프로필</a></li>
              <li><a href="/profile?type=myqt">내 QT</a></li>
              <li><a href="/profile?type=setting">설정</a></li>
              <li class="divider"></li>
              <li><a href="/users/sign_out">로그아웃</a></li>
            </ul>
          </li>
          <li class="qt-top-icon" style="padding-right:15px;" data-toggle="tooltip" title="<%= @streak_days %>일 연속" data-placement="bottom" data-original-title="<%= @streak_days %>일 연속">
            <span class="qt-icon qt-flame" aria-hidden="true">
              <span class="qt-num"><%= @streak_days %></span>
            </span>
          </li>
          <li class="qt-top-icon" data-toggle="tooltip" title="달란트" data-placement="bottom" data-original-title="달란트">
            <span class="qt-icon qt-talent" aria-hidden="true">
              <span class="qt-num"><%= @current_user.talent %></span>
            </span>
          </li>
          <% else %>
          <li>
            <a href="#" class="btn btn-simple" data-toggle="modal" data-target="#loginModal">로그인</a>
          </li>
          <% end %>
         </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
    </nav>
    <%= yield %>
    <div class="push"></div>
  </div>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="max-width:420px;" role="document">
      <div class="modal-content" style="border-top-width:0; box-shadow:0 7px 15px -5px rgba(0,0,0,.5);">
        <div class="modal-header" style="background-color:#ff8f5e;border-bottom:transparent;border-top-left-radius:10px;border-top-right-radius:10px;">
          <ul class="login-tab" role="tablist">
            <li role="presentation" class="active">
              <a class="btn btn-none" href="#login" aria-controls="login" role="tab" data-toggle="tab">로그인</a>
            </li>
            <li role="presentation">
              <a class="btn btn-none" href="#register" aria-controls="register" role="tab" data-toggle="tab">회원가입</a>
            </li>
          </ul>
          <button class="close" data-dismiss="modal">×</button>
          <h4 style="margin:0;color:#fff;">큐티노트</h4>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="login">
            <%= form_for resource, :url => session_path(:user) do |f| %>
              <div class="modal-body">
                  <input type="hidden" id="whois1" name="whois" value="">
                  <input type="hidden" id="lesson1" name="lesson" value="">
                  <input type="hidden" id="apply1" name="apply" value="">
                  <input type="hidden" id="pray1" name="pray" value="">
                  <div class="form-group">
                    <label for="user_email">이메일</label>
                    <%= f.text_field :email, autofocus: true, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <label for="user_password">패스워드</label>
                    <%= f.password_field :password, :class => 'form-control' %>
                  </div>
                  <% if devise_mapping.rememberable? -%>
                    <label class="checkbox" for="user_remember_me">
                      <span class="icons">
                      <span class="first-icon fa fa-square fa-base"></span>
                      <span class="second-icon fa fa-check-square fa-base"></span></span>
                      <%= f.check_box :remember_me, :datatoggle => "checkbox" %>기억하기
                    </label>
                  <% end -%>
                  <div class="qt-link-danger text-center" style="margin-top:10px; font-size:14px;">
                  <%- if devise_mapping.recoverable? %>
                    <%= link_to "비밀번호 찾기", new_password_path(resource_name) %>
                  <% end -%>
                  </div>
              </div>
              <div class="modal-footer" style="border-top:transparent;padding:10px 0 10px 0;text-align:center;">
                <%= f.submit '로그인', :class => 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="register">
            <%= form_for resource, :url => registration_path(resource_name) do |f| %>
              <div class="modal-body">
                  <input type="hidden" id="whois2" name="whois" value="">
                  <input type="hidden" id="lesson2" name="lesson" value="">
                  <input type="hidden" id="apply" name="apply" value="">
                  <input type="hidden" id="pray2" name="pray" value="">
                  <div class="form-group">
                    <label for="user_email">이메일</label>
                    <%= f.email_field :email, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <label for="user_password">패스워드</label>
                    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <label for="user_password_confirmation">패스워드 확인</label>
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
                  </div>
                  <div class="qt-link-danger text-center" style="margin-top:10px; font-size:14px;">
                    <%- if devise_mapping.recoverable? %>
                      <%= link_to "비밀번호 찾기", new_password_path(resource_name) %>
                    <% end -%>
                  </div>
              </div>
              <div class="modal-footer" style="border-top:transparent;padding:0 0 15px 0;text-align:center;">
                <%= f.submit "회원가입", :class => 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-demo section-dark qt-eng">
    <div class="container">
      <nav class="pull-left">
          <ul>
              <li>
                <span><i class="fa fa-envelope fa-1" aria-hidden="true"></i> qtnote.help@gmail.com</span>
              </li>
              <li>
                <a href="http://blog.naver.com" target="_blank">Blog</a>
              </li>
          </ul>
      </nav>
      <div class="copyright pull-right">
          © 2016, made with <i class="fa fa-heart heart"></i> by Harim Kim
      </div>
    </div>
  </footer>
  <script>
    $(document).ready(function() {
      
      //알림 글로벌 설정
      $.notifyDefaults({
        z_index: 99999
      });
      
      //툴팁 활성화
      $('[data-toggle="tooltip"]').tooltip(); 
      
      //플래시가 있으면 growl 알림을 띄운다.
      <% flash.each do |name, msg| %>
        <% if name == notice then name = 'info' end %>
        <% unless name == 'success' || name == 'warning' || name == 'info' || name == 'danger' %>
          <% name = 'danger' %>
        <% end %>
        <% unless msg.is_a? String %>
          <% puts msg %>
          <% msg.each do |m, options, settings| %>
            $.notify({
              message: "<%= m %>",
              <% if options.is_a?(::Hash) %>
                <% options.each do |key, val| %>
                <%= key %>: "<%= val %>",
                <% end %>
              <% end %>
            },{
              type: "<%= name %>",
              offset: 98,
              <% if settings.is_a?(::Hash) %>
                <% settings.each do |key, val| %>
                <% if val.is_a?(::Hash) %>
                  <%= key %>: {<% val.each do |k,v| %> <%= k %>: "<%= v %>", <% end %>},
                <% else %>
                  <%= key %>: "<%= val %>",
                <% end %>
                <% end %>
              <% end %>
            });
            
          <% end %>
        <% else  %>
          $.notify({
            message: "<%= msg %>"
          },{
            offset: 98,
            type: "<%= name %>"
          });
        <% end %>
      <% end %>
      
      //로그인 모달이 뜨면 params로 전달할 내용을 미리 채워둔다.
      $('#loginModal').on('shown.bs.modal', function () {
        //회원가입과 로그인 폼에 각각 값을 채운다.
        $("#whois1").val($("#whois").val())
        $("#whois2").val($("#whois").val())
        $("#lesson1").val($("#lesson").val())
        $("#lesson2").val($("#lesson").val())
        $("#apply1").val($("#apply").val())
        $("#apply2").val($("#apply").val())
        $("#pray1").val($("#pray").val())
        $("#pray2").val($("#pray").val())
      });
    });
  </script>
</body>
</html>