<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%=t 'text.qtnote' %>">
  <meta property="og:url" content="http://qtnote.co.kr">
  <meta property="og:description" content="<%=t 'text.slogan' %>">
  <meta property="og:image" content="https://i.imgur.com/RcmlX9F.png"> 
  <title><%=t 'text.qtnote' %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <style>
    <% if I18n.locale != :ko %>
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, body {
      font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    }
    <% end %>
  </style>
</head>
<body>
  <div class="wrapper">
    <% if user_signed_in? && !current_user.confirmed? %>
    <div class="alert alert-warning" style="margin:0">
      <div class="container">
        <%=t 'devise.registrations.signed_up_but_unconfirmed' %>
      </div>
    </div>
    <% end %>
    <nav class="navbar navbar-default" role="navigation-demo" id="demo-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target="#qt-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if user_signed_in? %>
          <%= link_to t('text.sign_out'), destroy_user_session_path, { class: "btn btn-simple navbar-toggle", style: "font-size: 15px;width:auto !important;height:auto !important; margin-top: 14px;" } %>
          <% else %>
          <a href="#" class="btn btn-simple navbar-toggle" data-toggle="modal" data-target="#loginModal", style="font-size: 15px;width:auto !important;height:auto !important; margin-top: 14px;"><%=t 'text.sign_in' %>
          <% end %>
          <%= link_to root_path do %>
          <div class="logo-container">
            <div class="brand qt-eng">
              QTNote
            </div>
          </div>
          <% end %>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="qt-navigation">
          <ul class="nav navbar-nav navbar-left">
            <% if user_signed_in? %>
            <li class="qt-top-icon visible-xs text-center">
              <span class="qt-icon qt-talent" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%=t 'text.talent', day: current_user.talent %>">
                <span class="qt-num"><%= current_user.talent %></span>
              </span>
              <span class="qt-icon qt-flame" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%=t 'text.streak_days', day: @streak_days %>">
                <span class="qt-num"><%= @streak_days %></span>
              </span>
              <a href="#" id="pop_notifcation1" class="qt-icon qt-notification">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <% if current_user.messages.where(is_read:false).count > 0 %>
                <span id="notification-count" class="badge"><%= current_user.messages.where(is_read:false).count %></span>
                <% end %>
              </a>
            </li>
            <li><%= link_to t('text.myqt'), { controller: '/home', action: 'profile', type: 'myQT' }, { class: "btn btn-simple", style: "text-align:left" } %></li>
            <li class="divider"></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown qt-dropdown">
              <% if I18n.locale == :en %>
              <%= link_to("javascript:;", { class: "dropdown-toggle", data: {toggle: "dropdown"} }) do %>
              <span>Language</span> <b class='caret'></b>
              <% end %>
              <% else %>
              <%= link_to("javascript:;", { class: "dropdown-toggle", data: {toggle: "dropdown"} }) do %>
              <span>언어</span> <b class='caret'></b>
              <% end %>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to "한국어", { locale: :ko } %></li>
                <li><%= link_to "English", { locale: :en } %></li>
              </ul>
            </li>
            <% if user_signed_in? %>
            <li class="dropdown qt-dropdown" id="qt-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="qt-eng"><%= current_user.email %></span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to t('text.profile.profile'), { controller: '/home', action: 'profile' } %></li>
                <li><%= link_to t('text.setting'), { controller: '/home', action: 'profile', type: 'setting' } %></li>
                <li class="divider"></li>
                <li><%= link_to t('text.sign_out'), destroy_user_session_path %></li>
              </ul>
            </li>
            <li class="qt-top-icon text-center hidden-xs">
              <a href="javascript:;" id="pop_notifcation2" class="qt-icon qt-notification">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <% if current_user.messages.where(is_read:false).count > 0 %>
                <span id="notification-count" class="badge"><%= current_user.messages.where(is_read:false).count %></span>
                <% end %>
              </a>
              <span class="qt-icon qt-flame" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%=t 'text.streak_days', day: @streak_days %>">
                <span class="qt-num"><%= @streak_days %></span>
              </span>
              <span class="qt-icon qt-talent" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="<%=t 'text.talent', day: current_user.talent %>">
                <span class="qt-num"><%= current_user.talent %></span>
              </span>
            </li>
            <% else %>
            <li>
              <a href="javascript:;" class="btn btn-simple" data-toggle="modal" data-target="#loginModal" style="text-align:left;"><%=t 'text.sign_in' %></a>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-->
    </nav>
    <!-- Popup for notifications -->
    <% if user_signed_in? %>
    <div id="qt-notifications" class="qt-notifications">
      <ul class="qt-list-notifications">
        <% if @messages.present? %>
        <%= render partial: 'messages/messages_list', locals: {messages: @messages.limit(3)} %>
        <li class="qt-notifications-list-footer text-center">
          <%= link_to t('text.see_all'), messages_url, class: "btn btn-info btn-sm" %>
        </li>
        <% else %>
        <li style="min-width:370px;padding-left:10px;"><%=t 'text.notifications.no_notifcations' %> <i class="em em-smile" style="margin-bottom:5px;"></i> <%= link_to t('text.see_all'), messages_url, {class: "btn btn-info btn-xs", style: "margin-left:5px;"} %></li>
        <% end %>
        <div class="close"></div>
      </ul>
    </div>
    <% end %>
    <!-- /.Popup for notifications -->
    <%= yield %>
    <div class="push"></div>
  </div>
  
  <!-- Modal for sign in and sign up -->
  <%= render partial: 'layouts/login_modal' %>
  <!-- Modal to show post is uploaded -->
  <%= render partial: 'layouts/done_modal', locals: { done_data: @done_data } %>
  <%= render partial: 'layouts/footer' %>
  <script>
    $(document).ready(function() {
      // 알림 글로벌 설정
      $.notifyDefaults({
        z_index: 99999
      });
      
      // 툴팁 활성화
      $('[data-toggle="tooltip"]').tooltip(); 
      
      // 플래시가 있으면 growl 알림을 띄운다.
      <% flash.each do |name, msg| %>
        <% if name == notice then name = 'info' end %>
        <% unless name == 'success' || name == 'warning' || name == 'info' || name == 'danger' %>
          <% name = 'danger' %>
        <% end %>
        <% unless msg.is_a? String %>
          <% msg.each do |m, options, settings| %>
            $.notify({
              message: "<%= m %>",
              <% if options.is_a?(::Hash) %>
                <% options.each do |key, val| %>
                <%= key %>: "<%= val.html_safe %>",
                <% end %>
              <% end %>
            },{
              type: "<%= name %>",
              offset: { x:20, y:98 },
              <% if settings.is_a?(::Hash) %>
                <% settings.each do |key, val| %>
                <% if val.is_a?(::Hash) %>
                  <%= key %>: {<% val.each do |k,v| %> <%= k %>: "<%= v %>", <% end %>},
                <% else %>
                  <%= key %>: "<%= val %>",
                <% end %>
                <% end %>
              <% end %>
            });
            
          <% end %>
        <% else  %>
          $.notify({
            message: "<%= msg %>"
          },{
            offset: { x:20, y:98 },
            type: "<%= name %>"
          });
        <% end %>
      <% end %>
      
      // 로그인 모달이 뜨면 params로 전달할 내용을 미리 채워둔다.
      $('#loginModal').on('shown.bs.modal', function () {
        // 회원가입과 로그인 폼에 각각 값을 채운다.
        $("#whois1").val($("#whois").val())
        $("#whois2").val($("#whois").val())
        $("#lesson1").val($("#lesson").val())
        $("#lesson2").val($("#lesson").val())
        $("#apply1").val($("#apply").val())
        $("#apply2").val($("#apply").val())
        $("#pray1").val($("#pray").val())
        $("#pray2").val($("#pray").val())
        $("#public1").val($("#public").val())
        $("#public2").val($("#public").val())
      });
      <% if cookies[:done] %>
      $('#postModal').modal('show');
      setTimeout(function(){
        <% if @leveled_up %>
        $('#qt-progressbar').css("width", "100%");
        setTimeout(function(){
          $('#level-up').fadeIn();
          setTimeout(function(){
            $('#before_level').text("<%= current_user.level %>");
            $('#next_level').text("<%= current_user.level+1 %>");
            $('#current_exp').text("<%= current_user.now_exp %>/<%= @next_exps[current_user.level-1] %> XP");
            $('#qt-progressbar').css("width", "<%= ((current_user.now_exp/@next_exps[current_user.level-1].to_f)*100).floor %>%");
          }, 1000);
        }, 1200);
        <% else %>
        $('#qt-progressbar').css("width", "<%= ((current_user.now_exp/@next_exps[current_user.level-1].to_f)*100).floor %>%");
        <% end %>
      }, 500);
      <% end %>
      
      $("#pop_notifcation1").click(function(e){
        e.preventDefault();
        $(".qt-notifications").fadeToggle(300);
        $.post("<%= read_message_url %>", function(data, status){
          if(status == 'success'){
            $("#notification-count").hide();
          }
        });
      });
      
      $("#pop_notifcation2").click(function(e){
        e.preventDefault();
        $(".qt-notifications").fadeToggle(300);
        $.post("<%= read_message_url %>", function(data, status){
          if(status == 'success'){
            $("#notification-count").hide();
          }
        });
        return false;
      });
      
      //Document Click hiding the popup 
      $(document).click(function(){
        $(".qt-notifications").hide();
      });
    });
  </script>
</body>
</html>